// ==========================================================================
// Related
// ==========================================================================


$module: 'related';


.#{$module} {
  border-top: em(10) solid $govuk-blue;
  margin-top: em(30);
  padding-top: em(5);
    
  &-title {
    @extend .heading-medium;
    margin-top: .3em;
    margin-bottom: .5em;
  }
  
  &-links {
    margin-top: em(5);
    margin-bottom: em(20);
    
    li {
      margin-bottom: em(5);
    }
    
  }

}

