// ==========================================================================
// Summary
// ==========================================================================


$module: "summary";


.#{$module} {
  
  
  &-heading {
    position: relative;
  }
  
  
  &-change {
    
    @include media (tablet) {
      margin: 0;
      position: absolute;
      top: 0; right: 0;
    }
    
  }
  
  
  &-title {
    
    @include media (tablet) {
      display: inline-block;
      padding-bottom: em(20);
      width: 40%;
    }
    
  }
  
  &-body {
    padding-bottom: em(20);
    
    @include media (tablet) {
      display: inline-block;
      width: 60%;
    }
    
  }
  
}

