// ==========================================================================
// Summary
// ==========================================================================


$module: "summary";


.#{$module} {
  padding-top: em(20);
  
  
  &-heading {
    background-color: rgba(0,0,0,.1);
    position: relative;
    margin-bottom: em(20);
  }
  
  
  &-sub-heading {
    background-color: rgba(0,0,0,.1);
    position: relative;
    margin-bottom: em(20);
  }
  
  
  &-change {
    
    @include media (tablet) {
      margin: 0;
      position: absolute;
      top: 0; right: 0;
      
          background: red;
    
    top: 50%;
    transform: translateY(-50%);
      
    }
    
  }
  
  
  dt {

    @include media (tablet) {
      display: inline-block;
      padding-bottom: em(20);
      width: 40%;
    }
    
    &:after {
      content: ':';
    }
    
  }
  
  dd {
    padding-bottom: em(20);
    
    @include media (tablet) {
      display: inline-block;
      width: 60%;
    }
    
  }
  
}

