// ==========================================================================
// Summary
// ==========================================================================


$module: "summary";


.#{$module} {
  padding-top: em(20);
  
  
  &-heading {
    position: relative;
    margin-bottom: em(40);
  }
  
  
  &-sub-heading {
    position: relative;
    margin-bottom: em(20);
  }
  
  
  &-change {
    
    @include media (tablet) {
      margin: 0;
      position: absolute; right: 0; top: 50%;
      transform: translateY(-50%);
    }
    
  }
  
  
  dt {

    @include media (tablet) {
      display: inline-block;
      padding-bottom: em(20);
      width: 40%;
    }
    
    &:after {
      content: ':';
    }
    
  }
  
  dd {
    padding-bottom: em(20);
    
    @include media (tablet) {
      display: inline-block;
      width: 60%;
    }
    
  }
  
}

