<a class="link-back" href="" data-ng-click="backLink()">Back</a>


<h1 class="heading-xlarge">Confirm your answers</h1>

<p class="lede">Review your information before making your plea.</p>


<section class="summary">

  <h3 class="heading-small">Your case <a class="summary-action" href="" data-ui-sref="your-case">Change <span class="visuallyhidden">Your case</span></a></h3>

  <dl class="summary-content">
    <dt>Case number</dt>
    <dd>123456789</dd>
    <dt>Your postcode</dt>
    <dd>GU51 5BU</dd>
  </dl>

</section>


<section class="summary">

  <h3 class="heading-small">Your personal details <a class="summary-action" href="" data-ui-sref="your-details">Change <span class="visuallyhidden">Your personal details</span></a></h3>

  <dl class="summary-content">
    <dt>First name</dt>
    <dd>Trevor</dd>
    <dt>Last name</dt>
    <dd>Saint</dd>
    <dt>Address</dt>
    <dd>5 Moorhens<br>Fleet, Hampshire<br>GU51 5BU</dd>
    <dt>Contact number</dt>
    <dd>07783809087</dd>
    <dt>Date of birth</dt>
    <dd>5 April 1978</dd>
    <dt>National Insurance number</dt>
    <dd>JH 21 90 0A</dd>
  </dl>

</section>


<section class="summary">

  <h3 class="heading-small">Your plea <a class="summary-action" href="" data-ui-sref="your-plea">Change <span class="visuallyhidden">Your plea</span></a></h3>

  <dl class="summary-content">
    <dt>Plea</dt>
    <dd>Guilty</dd>
    <dt>Plead guilty in court</dt>
    <dd>Yes</dd>
    <dt>Mitigation</dt>
    <dd>I did not do what they say I did.</dd>
  </dl>

</section>


<section class="summary">

  <h3 class="summary-heading">Employment <a class="summary-action" href="" data-ui-sref="your-details">Change <span class="visuallyhidden">Employment</span></a></h3>

  <dl class="summary-content">
    <dt>You are</dt>
    <dd>Employed and also receiving benefits</dd>
    <dt>You get paid</dt>
    <dd>Fortnightly</dd>
    <dt>Amount (after tax)</dt>
    <dd>&pound;21,312.00<span class="visuallyhidden">, in pounds</span></dd>
  </dl>

  <h3 class="heading-small">Benefits <a class="summary-action" href="" data-ui-sref="your-benefits">Change <span class="visuallyhidden">Benefits</span></a></h3>

  <dl class="summary-content">
    <dt>You receive</dt>
    <dd>Income&ndash;related Employment and Support Allowance</dd>
    <dt>Your benefits are paid</dt>
    <dd>Fortnighly</dd>
    <dt>Amount</dt>
    <dd>&pound;32.00<span class="visuallyhidden">, in pounds</span></dd>
  </dl>

  <h3 class="heading-small">Household expenses <a class="summary-action" href="" data-ui-sref="your-benefits">Change <span class="visuallyhidden">Household expenses</span></a></h3>

  <dl class="summary-content">
    <dt>Other contributors to household bills</dt>
    <dd>Yes</dd>
    <dt>Amount</dt>
    <dd>&pound;114.00<span class="visuallyhidden">, in pounds</span></dd>
  </dl>

  <h3 class="heading-small">Other expenses <a class="summary-action" href="" data-ui-sref="your-benefits">Change <span class="visuallyhidden">Other expenses</span></a></h3>

  <dl class="summary-content">
    <dt>Other expenses (not listed)</dt>
    <dd>Beer and food</dd>
    <dt>Amount</dt>
    <dd>&pound;103.00<span class="visuallyhidden">, in pounds</span></dd>
  </dl>

  <h3 class="heading-small">Total income</h3>

  <dl class="summary-content">
    <dt>Amount (after tax)</dt>
    <dd><span class="bold-medium">&pound;21,344.00</span></dd>
  </dl>

</section>


<div class="button-container"><a class="button" href="" role="button" data-ng-click="confirmPlea.buttonContinue($event)">Confirm and continue</a></div>