<a class="link-back" href="" data-ng-click="backLink()">Back</a>


<div class="grid-row">


  <div class="column-two-thirds">


    <h1 class="heading-xlarge">Your details</h1>

      <div class="error-summary"
           id="error-summary"
           role="group"
           tabindex="-1"
           aria-labelledby="error-summary-heading"
           data-focus
           data-focus-event="click" 
           data-ng-show="vm.form.$submitted && vm.form.$invalid">

        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">Fix the following errors</h2>
        <ul class="error-summary-list">
          <li data-ng-show="vm.form['correct-details'].$invalid">
            <a href=""
               data-focus
               data-focus-event="click"
               data-focus-target="correct-details"
               data-scroll-to="correct-details">Details correct
            </a>
          </li>
          <li data-ng-show="vm.form['your-update-details'].$invalid">
            <a href="" 
               data-focus
               data-focus-event="click"
               data-focus-target="your-update-details"
               data-scroll-to="your-update-details">Update your details
            </a>
          </li>
          <li data-ng-show="vm.form['contact-number'].$invalid">
            <a href="" 
               data-focus
               data-focus-event="click"
               data-focus-target="contact-number"
               data-scroll-to="contact-number">Your contact number
            </a>
          </li>

          <li data-ng-show="vm.form['dob-day'].$invalid">
            <a href="" 
               data-focus
               data-focus-event="click"
               data-focus-target="dob-day"
               data-scroll-to="dob-day">Your DOB day
            </a>
          </li>

          <li data-ng-show="vm.form['dob-month'].$invalid">
            <a href="" 
               data-focus
               data-focus-event="click"
               data-focus-target="dob-month"
               data-scroll-to="dob-month">Your DOB month
           </a>
          </li>

          <li data-ng-show="vm.form['dob-year'].$invalid">
            <a href="" 
               data-focus
               data-focus-event="click"
               data-focus-target="dob-year"
               data-scroll-to="dob-year">Your DOB year
            </a>
          </li>


          <li data-ng-show="vm.form['national-insurance-number'].$invalid">
            <a href="" 
               data-focus
               data-focus-event="click"
               data-focus-target="national-insurance-number"
               data-scroll-to="national-insurance-number">National Insurance
            </a>
          </li>

        </ul>

      </div>
    
    <p class="lede">We may need to contact you about your plea.</p>


    <form class="form" method="post" name="vm.form" action="" autocomplete="off" novalidate data-form-selection data-form-toggle>


      <h2 class="heading-medium">Check your name and address</h2>


      <div class="form-group">

        <div class="panel panel-border-wide">

          <p>
            <span class="bold-small">{{vm.title}} {{vm.firstName}} {{vm.lastName}}</span><br>
            {{vm.addressStreet}}<br>
            {{vm.addressCity}}<br>
            {{vm.addressPostcode}}
          </p>

        </div>

      </div>


      <fieldset class="inline">

        <legend>
          <span class="form-label-bold">Are these details correct?</span>
        </legend>

        <div class="form-group" data-ng-class="{'error': vm.form['correct-details'].invalid}">

          <label class="block-label" for="correct-details-yes">
            <input id="correct-details-yes" type="radio"  name="correct-details" value="Yes" required data-ng-model="vm.detailsCorrect"> Yes
          </label>

          <label class="block-label" for="correct-details-no" data-target="correct-details">
            <input id="correct-details-no" type="radio" name="correct-details" value="No" required data-ng-model="vm.detailsCorrect"> No
          </label>

          <div class="panel panel-border-narrow js-hidden" id="correct-details">

            <div class="form-group" 
              data-ng-class="{'error': vm.form['your-update-details'].invalid}">
              <label class="form-label" for="your-update-details">Enter correct details</label>
              <textarea class="form-control form-control-textarea" id="your-update-details" name="your-update-details" cols="30" rows="3" ng-required="vm.detailsCorrect==='No'" data-ng-model="vm.yourUpdateDetails"></textarea>
            </div>

          </div>

        </div>

      </fieldset>


      <h2 class="heading-medium">Enter other details</h2>


      <div class="form-group" data-ng-class="{'error': vm.form['contact-number'].invalid}">

        <label for="contact-number">
          <span class="form-label-bold">Contact number</span>
          <span class="form-hint" id="contact-number-hint">Landline or mobile number</span>
        </label>

        <input class="form-control form-control-1-3" id="contact-number" type="tel" name="contact-number" required aria-describedby="contact-number-hint" data-ng-model="vm.contactNumber">
        
      </div>
      
      <div class="form-group" data-ng-class="{'error': vm.form['email-address'].invalid}">

        <label for="email-address">
          <span class="form-label-bold">Email address (optional)</span>
          <span class="form-hint" id="email-address-hint">If you provide this, we&rsquo;ll automatically email you a copy of your plea</span>
        </label>

        <input class="form-control form-control-1-3" id="email-address" type="email" name="email-address" aria-describedby="email-address-hint" data-ng-model="vm.emailAddress">
        
      </div>


      <div class="form-group">

        <fieldset>

          <legend>
            <span class="form-label-bold">Your date of birth</span>
            <span class="form-hint" id="dob-hint">For example, 31 3 1980</span>
          </legend>

          <div class="form-date">

            <div class="form-group form-group-day" data-ng-class="{'error': vm.form['dob-day'].invalid}">
              <label for="dob-day">Day</label>
              <input class="form-control" id="dob-day" type="number" max="31" min="0" pattern="[0-9]*" name="dob-day" aria-describedby="dob-hint" required data-ng-model="vm.dateOfBirthDay">
            </div>

            <div class="form-group form-group-month" data-ng-class="{'error': vm.form['dob-month'].invalid}">
              <label for="dob-month">Month</label>
              <input class="form-control" id="dob-month" type="number" max="12" min="0" pattern="[0-9]*" name="dob-month" required data-ng-model="vm.dateOfBirthMonth">
            </div>

            <div class="form-group form-group-year" data-ng-class="{'error': vm.form['dob-year'].invalid}">
              <label for="dob-year">Year</label>
              <input class="form-control" id="dob-year" type="number" max="2016" min="0" pattern="[0-9]*" name="dob-year" required data-ng-model="vm.dateOfBirthYear">
            </div>
            
          </div>

        </fieldset>

      </div>


      <fieldset class="inline">

        <legend>
          <span class="form-label-bold">Do you have a National Insurance number?</span>
        </legend>

        <div class="form-group">

          <label class="block-label" for="national-insurance-yes" data-target="national-insurance">
            <input id="national-insurance-yes" type="radio" name="national-insurance" value="Yes" required data-ng-model="vm.nationalInsurance"> Yes
          </label>

          <label class="block-label" for="national-insurance-no">
            <input id="national-insurance-no" type="radio" name="national-insurance" value="No" required data-ng-model="vm.nationalInsurance"> No
          </label>

          <div class="form-group panel panel-border-narrow js-hidden" id="national-insurance" data-ng-class="{'error': vm.form['national-insurance-number'].invalid}">

            <label for="national-insurance-number">
              <span class="form-label">National Insurance number</span>
              <span class="form-hint" id="national-insurance-number-hint">Find this on your payslip, P60 or tax return, eg JH 21 90 0A</span>
            </label>
            <input class="form-control" id="national-insurance-number" type="text" name="national-insurance-number" required aria-describedby="national-insurance-hint" ng-required="vm.nationalInsurance==='Yes'" data-ng-model="vm.nationalInsuranceNumber">

          </div>

        </div>

      </fieldset>

      <div class="form-group">
        <button class="button" type="submit" 
          data-ng-click="vm.buttonContinue($event)" 
          data-focus
          data-focus-event="click" 
          data-focus-target="error-summary">Save and continue
        </button>
      </div>

      <p data-ng-show="vm.nextState"><a href="" data-ui-sref="{{vm.getNextState()}}">Cancel</a></p>


    </form>


  </div>


</div>
