<a class="link-back" href="" data-ng-click="backLink()">Back</a>


<div class="grid-row">


  <div class="column-two-thirds">


    <h1 class="heading-xlarge">Your details</h1>
    
    
    <div class="error-summary"
         id="error-summary"
         role="group"
         tabindex="-1"
         aria-labelledby="error-summary-heading"
         data-focus-event="click"
         data-ng-show="vm.form.invalid"
         data-focus>

      <h2 class="heading-medium error-summary-heading" id="error-summary-heading">Fix the following errors</h2>

      <ul class="error-summary-list">
        <li data-ng-show="vm.form['correct-details'].invalid">
          <a href=""
             data-focus-event="click"
             data-focus-target="error-correct-details"
             data-scroll-to="error-correct-details"
             data-focus>Are these details correct?
          </a>
        </li>
        <li data-ng-show="vm.form['your-update-details'].invalid">
          <a href=""
             data-focus-event="click"
             data-focus-target="error-your-update-details"
             data-scroll-to="error-your-update-details"
             data-focus>Enter correct details
          </a>
        </li>
        <li data-ng-show="vm.form['contact-number'].invalid">
          <a href=""
             data-focus-event="click"
             data-focus-target="error-contact-number"
             data-scroll-to="error-contact-number"
             data-focus>Contact number
          </a>
        </li>
        <li data-ng-show="vm.form['email-address'].invalid">
          <a href=""
             data-focus-event="click"
             data-focus-target="error-email-address"
             data-scroll-to="error-email-address"
             data-focus>Email address (optional)
          </a>
        </li>
        <li data-ng-show="vm.form['dob-day'].invalid || vm.form['dob-month'].invalid || vm.form['dob-year'].invalid">
          <a href=""
             data-focus-event="click"
             data-focus-target="error-dob-day"
             data-scroll-to="error-dob-day"
             data-focus>Your date of birth
          </a>
        </li>
        <li data-ng-show="vm.form['national-insurance'].invalid">
          <a href=""
             data-focus-event="click"
             data-focus-target="error-national-insurance"
             data-scroll-to="error-national-insurance"
             data-focus>Do you have a National Insurance number?
          </a>
        </li>
        <li data-ng-show="vm.form['national-insurance-number'].invalid">
          <a href=""
             data-focus-event="click"
             data-focus-target="error-national-insurance-number"
             data-scroll-to="error-national-insurance-number"
             data-focus>National Insurance number
          </a>
        </li>
      </ul>

    </div>
    
    
    <p class="lede">We may need to contact you about your plea.</p>


    <form class="form" method="post" name="vm.form" action="" autocomplete="off" novalidate data-form-selection data-form-toggle>


      <h2 class="heading-medium">Check your name and address</h2>


      <div class="panel panel-border-wide">

        <p>
          <span class="bold-small">{{vm.title}} {{vm.firstName}} {{vm.lastName}}</span><br>
          {{vm.addressStreet}}<br>
          {{vm.addressCity}}<br>
          {{vm.addressPostcode}}
        </p>

      </div>


      <div class="form-group" data-ng-class="{'error': vm.form['correct-details'].invalid}">

        <fieldset class="inline">

          <legend>
            <span class="form-label-bold">
              Are these details correct?
              <span class="error-message" data-ng-show="vm.form['correct-details'].invalid">Choose an answer</span>
            </span>
          </legend>

          <label class="block-label" for="correct-details-yes" id="error-correct-details" data-ng-class="{'selected': vm.detailsCorrect === 'Yes'}">
            <input type="radio" id="correct-details-yes" name="correct-details" value="Yes" required data-ng-model="vm.detailsCorrect"> Yes
          </label>

          <label class="block-label" for="correct-details-no" data-target="correct-details" data-ng-class="{'selected': vm.detailsCorrect === 'No'}">
            <input type="radio" id="correct-details-no" name="correct-details" value="No" required data-ng-model="vm.detailsCorrect"> No
          </label>

          <div class="panel panel-border-narrow" id="correct-details" data-ng-class="{'js-hidden': vm.detailsCorrect !== 'No'}">

            <div class="form-group" data-ng-class="{'error': vm.form['your-update-details'].invalid}">

              <label for="your-update-details" id="error-your-update-details">
                <span class="form-label">Enter correct details</span>
                <span class="error-message" data-ng-show="vm.form['your-update-details'].invalid">Provide this information</span>
              </label>

              <textarea class="form-control form-control-textarea" id="your-update-details" name="your-update-details" cols="30" rows="3" data-ng-required="vm.detailsCorrect==='No'" data-ng-model="vm.yourUpdateDetails"></textarea>

            </div>

          </div>

        </fieldset>
      
      </div>


      <h2 class="heading-medium">Enter other details</h2>


      <div class="form-group" data-ng-class="{'error': vm.form['contact-number'].invalid}">

        <label for="contact-number" id="error-contact-number" data-ng-messages="vm.form['contact-number'].error">
          <span class="form-label-bold">Contact number</span>
          <span class="form-hint" id="contact-number-hint">Landline or mobile number</span>
          <span class="error-message" data-ng-message="required">Provide information</span>
          <span class="error-message" data-ng-message="pattern">Invalid number - enter correct number</span>
        </label>

        <input class="form-control form-control-1-3" id="contact-number" type="tel" name="contact-number" required aria-describedby="contact-number-hint" data-ng-model="vm.contactNumber" data-ng-pattern="vm.ukTelephoneNumberRegex">
        
      </div>
      
      
      <div class="form-group" data-ng-class="{'error': vm.form['email-address'].invalid}">

        <label for="email-address" id="error-email-address">
          <span class="form-label-bold">Email address (optional)</span>
          <span class="form-hint" id="email-address-hint">If you provide this, we&rsquo;ll automatically email you a copy of your plea</span>
          <span class="error-message" data-ng-show="vm.form['email-address'].invalid">Invalid email address</span>
        </label>

        <input class="form-control form-control-1-3" id="email-address" type="text" name="email-address" aria-describedby="email-address-hint" data-ng-model="vm.emailAddress" data-ng-pattern="vm.emailAddressRegex">
        
      </div>


      <div class="form-group" data-ng-class="{'error': vm.form['dob-day'].invalid || vm.form['dob-month'].invalid || vm.form['dob-year'].invalid}">

        <fieldset>

          <legend data-ng-messages="vm.form['dob-day'].error">
            <span class="form-label-bold">Your date of birth</span>
            <span class="form-hint" id="dob-hint">For example, 31 3 1980</span>
            <span class="error-message" data-ng-message="required">Provide information</span>
          </legend>

          <div class="form-date" data-form-date="{'day': 'dob-day', 'month': 'dob-month', 'year': 'dob-year'}">

            <div class="form-group form-group-day">
              <label for="dob-day" id="error-dob-day">Day</label>
              <input class="form-control" id="dob-day" type="number" max="31" min="0" pattern="[0-9]*" name="dob-day" aria-describedby="dob-hint" required data-ng-model="vm.dateOfBirthDay">
            </div>

            <div class="form-group form-group-month">
              <label for="dob-month">Month</label>
              <input class="form-control" id="dob-month" type="number" max="12" min="0" pattern="[0-9]*" name="dob-month" required data-ng-model="vm.dateOfBirthMonth">
            </div>

            <div class="form-group form-group-year">
              <label for="dob-year">Year</label>
              <input class="form-control" id="dob-year" type="number" max="2016" min="0" pattern="[0-9]*" name="dob-year" required data-ng-model="vm.dateOfBirthYear">
            </div>
            
          </div>

        </fieldset>

      </div>


      <div class="form-group" data-ng-class="{'error': vm.form['national-insurance'].invalid}">

        <fieldset class="inline">
  
          <legend>
            <span class="form-label-bold">
              Do you have a National Insurance number?
              <span class="error-message" data-ng-show="vm.form['national-insurance'].invalid">Choose an answer</span>
            </span>
          </legend>
  
          <label class="block-label" for="national-insurance-yes" id="error-national-insurance" data-target="national-insurance" data-ng-class="{'selected': vm.nationalInsurance === 'Yes'}">
            <input id="national-insurance-yes" type="radio" name="national-insurance" value="Yes" required data-ng-model="vm.nationalInsurance"> Yes
          </label>
  
          <label class="block-label" for="national-insurance-no" data-ng-class="{'selected': vm.nationalInsurance === 'No'}">
            <input id="national-insurance-no" type="radio" name="national-insurance" value="No" required data-ng-model="vm.nationalInsurance"> No
          </label>
  
          <div class="panel panel-border-narrow" id="national-insurance" data-ng-class="{'js-hidden': vm.nationalInsurance !== 'Yes'}">

            <div class="form-group" data-ng-class="{'error': vm.form['national-insurance-number'].invalid}">

              <label for="national-insurance-number" id="error-national-insurance-number">
                <span class="form-label">National Insurance number</span>
                <span class="form-hint" id="national-insurance-number-hint">Find this on your payslip, P60 or tax return, eg QQ 12 34 56 C</span>
                <span class="error-message" data-ng-show="vm.form['national-insurance-number'].invalid">Provide this information</span>
              </label>

              <input class="form-control" id="national-insurance-number" type="text" name="national-insurance-number" aria-describedby="national-insurance-number-hint" data-ng-required="vm.nationalInsurance === 'Yes'" data-ng-pattern="vm.nationalInsuranceNumberRegex" data-ng-model="vm.nationalInsuranceNumber">

            </div>

          </div>
  
        </fieldset>
      
      </div>


      <div class="form-group">

        <button class="button" type="submit" 
          data-ng-click="vm.buttonContinue($event)" 
          data-focus-event="click" 
          data-focus-target="error-summary"
          data-focus>Save and continue
        </button>

      </div>


      <p data-ng-show="vm.nextState"><a href="" data-ui-sref="{{vm.getNextState()}}">Cancel</a></p>


    </form>


  </div>


</div>