<back-link></back-link>


<div class="grid-row">


  <div class="column-two-thirds">


    <h1 class="heading-xlarge">Your expenses</h1>


    <error-summary
      form="vm.form"
      fields="[
        {
          name: 'accommodation',
          label: 'Accommodation'
        },
        {
          name: 'utility',
          label: 'Utility bills'
        },
        {
          name: 'insurance',
          label: 'Insurance'
        },
        {
          name: 'council-tax',
          label: 'Council tax'
        },
        {
          name: 'contribute',
          label: 'Does anyone else contribute to these bills?'
        }
      ]">
    </error-summary>


    <p class="lede">To help the court make a decision about your payment terms, you must Provide this information about your expenses.</p>


    <form class="form" method="post" name="vm.form" action="" autocomplete="off" novalidate data-form-selection>


      <h2 class="heading-medium">Household expenses</h2>


      <p>What are your monthly bills for the following?</p>


      <fieldset>

        <legend class="visuallyhidden">Household expenses</legend>

        <div class="form-group" data-ng-class="{'error': vm.form['accommodation'].invalid}">

          <label for="accommodation" id="error-accommodation" data-ng-messages="vm.form['accommodation'].error">
            <span class="form-label-bold">Accommodation<span class="visuallyhidden">, in pounds</span></span>
            <span class="form-hint" id="accommodation-hint">Eg, rent, mortgage or lodgings</span>
            <span class="error-message" data-ng-message="required">Provide this information</span>
            <span class="error-message" data-ng-message="pattern">Amount not valid &ndash; enter correct amount</span>
          </label>

          <span class="form-currency">
            <input class="form-control form-control-1-4" type="text" id="accommodation" name="accommodation" required aria-required="true" aria-describedby="accommodation-hint"
                   data-ng-model="vm.accommodation"
                   data-ng-pattern="vm.decimalLimit">
          </span>

        </div>

        <div class="form-group" data-ng-class="{'error': vm.form['utility'].invalid}">

          <label for="utility" id="error-utility" data-ng-messages="vm.form['utility'].error">
            <span class="form-label-bold">Utility bills<span class="visuallyhidden">, in pounds</span></span>
            <span class="form-hint" id="utility-hint">Eg, gas, water, electricity</span>
            <span class="error-message" data-ng-message="required">Provide this information</span>
            <span class="error-message" data-ng-message="pattern">Amount not valid &ndash; enter correct amount</span>
          </label>

          <span class="form-currency">
            <input class="form-control form-control-1-4" type="text" id="utility" name="utility" required aria-required="true" aria-describedby="utility-hint"
                   data-ng-model="vm.utilityBills"
                   data-ng-pattern="vm.decimalLimit">
          </span>

        </div>

        <div class="form-group" data-ng-class="{'error': vm.form['insurance'].invalid}">

          <label for="insurance" id="error-insurance" data-ng-messages="vm.form['insurance'].error">
            <span class="form-label-bold">Insurance<span class="visuallyhidden">, in pounds</span></span>
            <span class="form-hint" id="insurance-hint">Eg, home, life insurance</span>
            <span class="error-message" data-ng-message="required">Provide this information</span>
            <span class="error-message" data-ng-message="pattern">Amount not valid &ndash; enter correct amount</span>
          </label>

          <span class="form-currency">
            <input class="form-control form-control-1-4" type="text" id="insurance" name="insurance" required aria-required="true" aria-describedby="insurance-hint"
                   data-ng-model="vm.insurance"
                   data-ng-pattern="vm.decimalLimit">
          </span>

        </div>

        <div class="form-group" data-ng-class="{'error': vm.form['council-tax'].invalid}">

          <label for="council-tax" id="error-council-tax" data-ng-messages="vm.form['council-tax'].error">
            <span class="form-label-bold">Council tax<span class="visuallyhidden">, in pounds</span></span>
            <span class="visuallyhidden">, in pounds</span>
            <span class="error-message" data-ng-message="required">Provide this information</span>
            <span class="error-message" data-ng-message="pattern">Amount not valid &ndash; enter correct amount</span>
          </label>

          <span class="form-currency">
            <input class="form-control form-control-1-4" type="text" id="council-tax" name="council-tax" required aria-required="true"
                   data-ng-model="vm.councilTax"
                   data-ng-pattern="vm.decimalLimit">
          </span>

        </div>

        <div class="form-group" data-ng-class="{'error': vm.form['contribute'].invalid}">

          <fieldset class="inline">

            <legend id="error-contribute">
              <span class="form-label-bold">Does anyone else contribute to these bills?</span>
              <span class="error-message" data-ng-show="vm.form['contribute'].invalid">Choose an answer</span>
            </legend>

            <label class="block-label" for="contribute-yes" data-ng-class="{'selected': vm.contribute === 'Yes'}">
              <input type="radio" id="contribute-yes" name="contribute" value="Yes" required aria-required="true" data-ng-model="vm.contribute"> Yes
            </label>

            <label class="block-label" for="contribute-no" data-ng-class="{'selected': vm.contribute === 'No'}">
              <input type="radio" id="contribute-no" name="contribute" value="No" required aria-required="true" data-ng-model="vm.contribute"> No
            </label>

          </fieldset>

        </div>
              
      </fieldset>
      
      
      <div class="form-group">

        <button class="button" type="submit" 
          data-ng-click="vm.buttonContinue($event)" 
          data-focus-event="click" 
          data-focus-target="error-summary"
          data-focus>Save and continue
        </button>

      </div>


      <p data-ng-if="vm.nextState"><a href="" data-ui-sref="{{vm.nextState}}">Cancel</a></p>
      

    </form>


  </div>


</div>