<a class="link-back" href="" data-ng-click="backLink()">Back</a>


<div class="grid-row">


  <div class="column-two-thirds">


    <h1 class="heading-xlarge">Your expenses</h1>


    <p class="lede">To help the court make a decision about your payment terms, you must provide information about your expenses.</p>


    <form class="form" method="post" name="form" action="" autocomplete="off" novalidate data-form-selection data-form-toggle>


      <h2 class="heading-medium">Other expenses</h2>

      <p>What are your monthly bills for the following?</p>


      <fieldset>

        <legend class="visuallyhidden">Other expenses</legend>

        <div class="form-group">

          <label for="television-subscription">
            <span class="form-label-bold">Television subscriptions<span class="visuallyhidden">, in pounds</span></span>
            <span class="form-hint" id="television-subscription-hint">Eg, tv licence, satellite</span>
          </label>

          <span class="form-currency">
            <input class="form-control form-control-1-4" type="text" id="television-subscription" name="television-subscription" aria-describedby="television-subscription-hint" data-ng-model="otherExpenses.televisionSubscription">
          </span>

        </div>

        <div class="form-group">

          <label for="travel-expenses">
            <span class="form-label-bold">Travel expenses<span class="visuallyhidden">, in pounds</span></span>
            <span class="form-hint" id="travel-expenses-hint">Eg, fuel, car, public transport</span>
          </label>

          <span class="form-currency">
            <input class="form-control form-control-1-4" type="text" id="travel-expenses" name="travel-expenses" aria-describedby="travel-expenses-hint" data-ng-model="otherExpenses.travelExpenses">
          </span>

        </div>

        <div class="form-group">

          <label for="telephone">
            <span class="form-label-bold">Telephone<span class="visuallyhidden">, in pounds</span></span>
            <span class="form-hint" id="telephone-hint">Eg, landline or mobile</span>
          </label>

          <span class="form-currency">
            <input class="form-control form-control-1-4" type="text" id="telephone" name="telephone" aria-describedby="telephone-hint" data-ng-model="otherExpenses.telephone">
          </span>

        </div>

        <div class="form-group">

          <label for="loan-repayments">
            <span class="form-label-bold">Loan repayments<span class="visuallyhidden">, in pounds</span></span>
          </label>

          <span class="form-currency">
            <input class="form-control form-control-1-4" type="text" id="loan-repayments" name="loan-repayments" data-ng-model="otherExpenses.loanRepayments">
          </span>

        </div>

        <div class="form-group">

          <label class="form-label-bold" for="county-court-orders">County court orders<span class="visuallyhidden">, in pounds</span></label>

          <span class="form-currency">
            <input class="form-control form-control-1-4" type="text" id="county-court-orders" name="county-court-orders" data-ng-model="otherExpenses.countyCourtOrders">
          </span>

        </div>

        <div class="form-group">

          <label class="form-label-bold" for="fines">Fines<span class="visuallyhidden">, in pounds</span></label>

          <span class="form-currency">
            <input class="form-control form-control-1-4" type="text" id="fines" name="fines" data-ng-model="otherExpenses.fines">
          </span>

        </div>

        <div class="form-group">

          <label class="form-label-bold" for="child-maintenance">Child maintenance<span class="visuallyhidden">, in pounds</span></label>

          <span class="form-currency">
            <input class="form-control form-control-1-4" type="text" id="child-maintenance" name="child-maintenance" data-ng-model="otherExpenses.childMaintenance">
          </span>

        </div>

        <div class="form-group">

          <fieldset class="inline">

            <legend>
              <span class="form-label-bold">Any other significant expenses not listed?</span>
            </legend>

            <label class="block-label" for="other-significant-expenses-yes" data-target="other-significant-expenses">
              <input type="radio" id="other-significant-expenses-yes" name="other-significant-expenses" value="Yes" data-ng-model="otherExpenses.otherSignificantExpenses"> Yes
            </label>

            <label class="block-label" for="other-significant-expenses-no">
              <input type="radio" id="other-significant-expenses-no" name="other-significant-expenses" value="No" data-ng-model="otherExpenses.otherSignificantExpenses"> No
            </label>

            <div class="panel panel-border-narrow js-hidden" id="other-significant-expenses">

              <div class="form-group">

                <label for="other-significant-expenses-details">
                  <span class="form-label">Tell us about other significant expenses</span>
                </label>

                <textarea class="form-control form-control-textarea" id="other-significant-expenses-details" name="other-significant-expenses-details" cols="30" rows="3" data-ng-model="otherExpenses.otherSignificantExpensesDetails"></textarea>

              </div>

              <div class="form-group">
                <label class="form-label" for="other-significant-expenses-total">Monthly total of other significant expenses<span class="visuallyhidden">, in pounds</span></label>
                <span class="form-currency"><input class="form-control form-control-1-4" type="text" id="other-significant-expenses-total" name="other-significant-expenses-total" data-ng-model="otherExpenses.otherSignificantExpensesTotal"></span>
              </div>

            </div>

          </fieldset>

        </div>

      </fieldset>


      <div class="form-group">
        <button class="button" type="submit" data-ng-click="otherExpenses.buttonContinue($event)">Save and continue</button>
      </div>


      <p data-ng-if="otherExpenses.nextState"><a href="" data-ui-sref="{{otherExpenses.nextState}}">Cancel</a></p>


    </form>


  </div>


</div>
