<a class="link-back" href="" data-ng-click="backLink()">Back</a>


<div class="grid-row">


  <div class="column-two-thirds">


    <h1 class="heading-xlarge">Your expenses</h1>


    <div class="error-summary"
         id="error-summary"
         role="group"
         tabindex="-1"
         aria-labelledby="error-summary-heading"
         data-focus-event="click"
         data-ng-show="vm.form.invalid"
         data-focus>

      <h2 class="heading-medium error-summary-heading" id="error-summary-heading">Fix the following</h2>

      <ul class="error-summary-list">
        <li data-ng-show="vm.form['television-subscription'].invalid">
          <a href=""
             data-ng-click="vm.scrollToAnchor('error-television-subscription')"
             data-focus-event="click"
             data-focus-target="error-television-subscription"
             data-focus>Television subscription
          </a>
        </li>
        <li data-ng-show="vm.form['travel-expenses'].invalid">
          <a href=""
             data-ng-click="vm.scrollToAnchor('error-travel-expenses')"
             data-focus-event="click"
             data-focus-target="error-travel-expenses"
             data-focus>Travel expenses
          </a>
        </li>
        <li data-ng-show="vm.form['telephone'].invalid">
          <a href=""
             data-ng-click="vm.scrollToAnchor('error-telephone')"
             data-focus-event="click"
             data-focus-target="error-telephone"
             data-focus>Telephone
          </a>
        </li>
        <li data-ng-show="vm.form['loan-repayments'].invalid">
          <a href=""
             data-ng-click="vm.scrollToAnchor('error-loan-repayments')"
             data-focus-event="click"
             data-focus-target="error-loan-repayments"
             data-focus>Loan repayments
          </a>
        </li>
        <li data-ng-show="vm.form['county-court-orders'].invalid">
          <a href=""
             data-ng-click="vm.scrollToAnchor('error-county-court-orders')"
             data-focus-event="click"
             data-focus-target="error-county-court-orders"
             data-focus>County court orders
          </a>
        </li>
        
        <li data-ng-show="vm.form['fines'].invalid">
          <a href=""
             data-ng-click="vm.scrollToAnchor('error-fines')"
             data-focus-event="click"
             data-focus-target="error-fines"
             data-focus>Fines
          </a>
        </li>
        <li data-ng-show="vm.form['child-maintenance'].invalid">
          <a href=""
             data-ng-click="vm.scrollToAnchor('error-child-maintenance')"
             data-focus-event="click"
             data-focus-target="error-child-maintenance"
             data-focus>Child maintenance
          </a>
        </li>
        <li data-ng-show="vm.form['other-significant-expenses'].invalid">
          <a href=""
             data-ng-click="vm.scrollToAnchor('error-other-significant-expenses')"
             data-focus-event="click"
             data-focus-target="error-other-significant-expenses"
             data-focus>Any other significant expenses not listed?
          </a>
        </li>
        <li data-ng-show="vm.form['other-significant-expenses-details'].invalid">
          <a href=""
             data-ng-click="vm.scrollToAnchor('error-other-significant-expenses-details')"
             data-focus-event="click"
             data-focus-target="error-other-significant-expenses-details"
             data-focus>Tell us about other significant expenses
          </a>
        </li>
        <li data-ng-show="vm.form['other-significant-expenses-total'].invalid">
          <a href=""
             data-ng-click="vm.scrollToAnchor('error-other-significant-expenses-total')"
             data-focus-event="click"
             data-focus-target="error-other-significant-expenses-total"
             data-focus>Monthly total of other significant expenses
          </a>
        </li>
      </ul>

    </div>
    

    <p class="lede">To help the court make a decision about your payment terms, you must Provide this information about your expenses.</p>


    <form class="form" method="post" name="vm.form" action="" autocomplete="off" novalidate data-form-selection data-form-toggle>


      <h2 class="heading-medium">Other expenses</h2>

      <p>What are your monthly bills for the following?</p>


      <fieldset>

        <legend class="visuallyhidden">Other expenses</legend>

        <div class="form-group" data-ng-class="{'error': vm.form['television-subscription'].invalid}">
          
          <label for="television-subscription" id="error-television-subscription" data-ng-messages="vm.form['television-subscription'].error">
            <span class="form-label-bold">Television subscriptions<span class="visuallyhidden">, in pounds</span></span>
            <span class="form-hint" id="television-subscription-hint">Eg, tv licence, satellite</span>
            <span class="error-message" data-ng-message="required">Provide this information</span>
            <span class="error-message" data-ng-message="pattern">Amount not valid &ndash; enter correct amount</span>
          </label>

          <span class="form-currency">
            <input class="form-control form-control-1-4" id="television-subscription" type="text" name="television-subscription" required aria-describedby="television-subscription-hint" data-ng-model="vm.televisionSubscription" data-ng-pattern="vm.decimalLimit">
          </span>

        </div>

        <div class="form-group" data-ng-class="{'error': vm.form['travel-expenses'].invalid}">

          <label for="travel-expenses" id="error-travel-expenses" data-ng-messages="vm.form['travel-expenses'].error">
            <span class="form-label-bold">Travel expenses<span class="visuallyhidden">, in pounds</span></span>
            <span class="form-hint" id="travel-expenses-hint">Eg, fuel, car, public transport</span>
            <span class="error-message" data-ng-message="required">Provide this information</span>
            <span class="error-message" data-ng-message="pattern">Amount not valid &ndash; enter correct amount</span>
          </label>

          <span class="form-currency">
            <input class="form-control form-control-1-4" id="travel-expenses" type="text" name="travel-expenses" required aria-describedby="travel-expenses-hint" data-ng-model="vm.travelExpenses" data-ng-pattern="vm.decimalLimit">
          </span>

        </div>

        <div class="form-group" data-ng-class="{'error': vm.form['telephone'].invalid}">

          <label for="telephone" id="error-telephone" data-ng-messages="vm.form['telephone'].error">
            <span class="form-label-bold">Telephone<span class="visuallyhidden">, in pounds</span></span>
            <span class="form-hint" id="telephone-hint">Eg, landline or mobile</span>
            <span class="error-message" data-ng-message="required">Provide this information</span>
            <span class="error-message" data-ng-message="pattern">Amount not valid &ndash; enter correct amount</span>
          </label>

          <span class="form-currency">
            <input class="form-control form-control-1-4" id="telephone" type="text" name="telephone" required aria-describedby="telephone-hint" data-ng-model="vm.telephone" data-ng-pattern="vm.decimalLimit">
          </span>

        </div>

        <div class="form-group" data-ng-class="{'error': vm.form['loan-repayments'].invalid}">

          <label for="loan-repayments" id="error-loan-repayments" data-ng-messages="vm.form['loan-repayments'].error">
            <span class="form-label-bold">Loan repayments<span class="visuallyhidden">, in pounds</span></span>
            <span class="error-message" data-ng-message="required">Provide this information</span>
            <span class="error-message" data-ng-message="pattern">Amount not valid &ndash; enter correct amount</span>
          </label>

          <span class="form-currency">
            <input class="form-control form-control-1-4" id="loan-repayments" type="text" name="loan-repayments" required data-ng-model="vm.loanRepayments" data-ng-pattern="vm.decimalLimit">
          </span>

        </div>

        <div class="form-group" data-ng-class="{'error': vm.form['county-court-orders'].invalid}">

          <label for="county-court-orders" id="error-county-court-orders" data-ng-messages="vm.form['county-court-orders'].error">
            <span class="form-label-bold">County court orders<span class="visuallyhidden">, in pounds</span></span>
            <span class="form-hint" id="accommodation-hint">Eg, rent, mortgage or lodgings</span>
            <span class="error-message" data-ng-message="required">Provide this information</span>
            <span class="error-message" data-ng-message="pattern">Amount not valid &ndash; enter correct amount</span>
          </label>

          <span class="form-currency">
            <input class="form-control form-control-1-4" id="county-court-orders" type="text" name="county-court-orders" required data-ng-model="vm.countyCourtOrders" data-ng-pattern="vm.decimalLimit">
          </span>

        </div>

        <div class="form-group" data-ng-class="{'error': vm.form['fines'].invalid}">

          <label for="fines" id="error-fines" data-ng-messages="vm.form['fines'].error">
            <span class="form-label-bold">Fines<span class="visuallyhidden">, in pounds</span></span>
            <span class="error-message" data-ng-message="required">Provide this information</span>
            <span class="error-message" data-ng-message="pattern">Amount not valid &ndash; enter correct amount</span>
          </label>

          <span class="form-currency">
            <input class="form-control form-control-1-4" id="fines" type="text" name="fines" required data-ng-model="vm.fines" data-ng-pattern="vm.decimalLimit">
          </span>

        </div>

        <div class="form-group" data-ng-class="{'error': vm.form['child-maintenance'].invalid}">
          
          <label for="child-maintenance" id="error-child-maintenance" data-ng-messages="vm.form['child-maintenance'].error">
            <span class="form-label-bold">Child maintenance<span class="visuallyhidden">, in pounds</span></span>
            <span class="error-message" data-ng-message="required">Provide this information</span>
            <span class="error-message" data-ng-message="pattern">Amount not valid &ndash; enter correct amount</span>
          </label>

          <span class="form-currency">
            <input class="form-control form-control-1-4" id="child-maintenance" type="text" name="child-maintenance" required data-ng-model="vm.childMaintenance" data-ng-pattern="vm.decimalLimit">
          </span>

        </div>

        <div class="form-group" data-ng-class="{'error': vm.form['other-significant-expenses'].invalid}">

          <fieldset class="inline">

            <legend>
              <span class="form-label-bold">Any other significant expenses not listed?</span>
              <span class="error-message" data-ng-show="vm.form['other-significant-expenses'].invalid">Choose an answer</span>
            </legend>

            <label class="block-label" id="error-other-significant-expenses" for="other-significant-expenses-yes" data-target="other-significant-expenses" data-ng-class="{'selected': vm.otherSignificantExpenses === 'Yes'}">
              <input type="radio" id="other-significant-expenses-yes" name="other-significant-expenses" value="Yes" required data-ng-model="vm.otherSignificantExpenses"> Yes
            </label>

            <label class="block-label" for="other-significant-expenses-no" data-ng-class="{'selected': vm.otherSignificantExpenses === 'No'}">
              <input type="radio" id="other-significant-expenses-no" name="other-significant-expenses" value="No" required data-ng-model="vm.otherSignificantExpenses"> No
            </label>

            <div class="panel panel-border-narrow" id="other-significant-expenses" data-ng-class="{'js-hidden': vm.otherSignificantExpenses !== 'Yes'}">

              <div class="form-group" data-ng-class="{'error': vm.form['other-significant-expenses-details'].invalid}">

                <label for="other-significant-expenses-details" id="error-other-significant-expenses-details" data-ng-messages="vm.form['other-significant-expenses-details'].error">
                  <span class="form-label">Tell us about other significant expenses</span>
                  <span class="error-message" data-ng-message="required">Provide this information</span>
                </label>

                <textarea class="form-control form-control-textarea" id="other-significant-expenses-details" name="other-significant-expenses-details" cols="30" rows="3" data-ng-required="vm.otherSignificantExpenses === 'Yes'" data-ng-model="vm.otherSignificantExpensesDetails"></textarea>

              </div>

              <div class="form-group" data-ng-class="{'error': vm.form['other-significant-expenses-total'].invalid}">
                
                <label for="other-significant-expenses-total" id="error-other-significant-expenses-total" data-ng-messages="vm.form['other-significant-expenses-total'].error">
                  <span class="form-label">Monthly total of other significant expenses<span class="visuallyhidden">, in pounds</span></span>
                  <span class="error-message" data-ng-message="required">Provide this information</span>
                  <span class="error-message" data-ng-message="pattern">Amount not valid &ndash; enter correct amount</span>
                </label>
                
                <span class="form-currency">
                  <input class="form-control form-control-1-4" id="other-significant-expenses-total" type="text" name="other-significant-expenses-total" data-ng-required="vm.otherSignificantExpenses === 'Yes'" data-ng-model="vm.otherSignificantExpensesTotal" data-ng-pattern="vm.decimalLimit">
                </span>
                
              </div>

            </div>

          </fieldset>

        </div>

      </fieldset>


      <div class="form-group">

        <button class="button" type="submit" 
          data-ng-click="vm.buttonContinue($event)" 
          data-focus-event="click" 
          data-focus-target="error-summary"
          data-focus>Save and continue
        </button>

      </div>


      <p data-ng-if="vm.nextState"><a href="" data-ui-sref="{{vm.nextState}}">Cancel</a></p>


    </form>


  </div>


</div>
