<a class="link-back" href="" data-ng-click="backLink()">Back</a>


<div class="grid-row">
  
  
  <div class="column-two-thirds">
  

    <h1 class="heading-xlarge">Your benefits</h1>
    
    
    <form class="form" method="post" name="form" action="" autocomplete="off" data-form-selection data-form-toggle novalidate>
      
      
      <div class="form-group">
    
    
        <fieldset class="stuff">

    
          <legend>
            <span class="form-label-bold">What benefit do you receive?</span>
          </legend>
    
    
          <label class="block-label" for="contributory-support-allowance">
            <input type="radio" id="contributory-support-allowance" name="benefit" value="Contributory Employment and Suport Allowance" data-ng-model="data.benefit"> Contributory Employment and Suport Allowance
          </label>
          
          
          <label class="block-label" for="income-support-allowance">
            <input type="radio" id="income-support-allowance" name="benefit" value="Income&ndash;related Employment and Support Allowance" data-ng-model="data.benefit"> Income&ndash;related Employment and Support Allowance
          </label>
          
          
          <label class="block-label" for="income-support">
            <input type="radio" id="income-support" name="benefit" value="Income Support" data-ng-model="data.benefit"> Income Support
          </label>
          
          
          <label class="block-label" for="universal-credit">
            <input type="radio" id="universal-credit" name="benefit" value="Universal Credit" data-ng-model="data.benefit"> Universal Credit
          </label>
          
          
          <label class="block-label" for="other">
            <input type="radio" id="other" name="benefit" value="Other" data-ng-model="data.benefit"> Other
          </label>
          
    
        </fieldset>
      
      
      </div>
      
      
      <div class="form-group">
      
      
        <fieldset>
  
  
          <legend>
            <span class="form-label-bold">How often is your benefit paid?</span>
          </legend>
    
    
          <label class="block-label" for="paid-weekly" data-target="weekly">
            <input type="radio" id="paid-weekly" name="paid" value="Weekly" data-ng-model="data.paid"> Weekly
          </label>
          
          <div class="panel panel-border-narrow js-hidden" id="weekly">
              
            <div class="form-group">
              <label class="form-label" for="weekly-benefit-pay">How much is your weekly benefit payment<span class="visuallyhidden">, in pounds</span>?</label>
              <span class="form-currency"><input class="form-control form-control-1-4" type="text" id="weekly-benefit-pay" name="weekly-benefit-pay"></span>
            </div>
            
          </div>
          
          
          <label class="block-label" for="paid-fortnighly" data-target="fortnightly">
            <input type="radio" id="paid-fortnighly" name="paid" value="Fortnightly" data-ng-model="data.paid"> Fortnightly
          </label>
          
          <div class="panel panel-border-narrow js-hidden" id="fortnightly">
                
            <div class="form-group">
              <label class="form-label" for="fortnightly-benefit-pay">How much is your fortnightly benefit payment<span class="visuallyhidden">, in pounds</span>?</label>
              <span class="form-currency"><input class="form-control form-control-1-4" type="text" id="fortnightly-benefit-pay" name="fortnightly-beneift-pay"></span>
            </div>
            
          </div>
          
          
          <label class="block-label" for="paid-monthly" data-target="monthly">
            <input type="radio" id="paid-monthly" name="paid" value="Monthly" data-ng-model="data.paid"> Monthly
          </label>
          
          <div class="panel panel-border-narrow js-hidden" id="monthly">
                
            <div class="form-group">
              <label class="form-label" for="monthly-benefit-pay">How much is your monthly benefit payment<span class="visuallyhidden">, in pounds</span>?</label>
              <span class="form-currency"><input class="form-control form-control-1-4" type="text" id="monthly-benefit-pay" name="monthly-benefit-pay"></span>
            </div>
            
          </div>
    
    
        </fieldset>
      
      
      </div>
      
      
      <div class="form-group">
      
      
        <fieldset class="inline">
          
          
          <legend>
            <span class="form-label-bold">Would paying a fine cause you serious financial problems?</span>
            <span class="form-hint" id="financial-problems-hint">For example, you would become homeless.</span>
          </legend>
  
  
          <label class="block-label" for="financial-problems-yes" data-target="financial-problems-explanation">
            <input type="radio" id="financial-problems-yes"  name="financial-problems" value="Yes" data-ng-model="data.financialProblems" aria-describedby="financial-problems-hint"> Yes
          </label>
          
          
          <label class="block-label" for="financial-problems-no">
            <input type="radio" id="financial-problems-no" name="financial-problems" value="No" data-ng-model="data.financialProblems"> No
          </label>
          
          
          <div class="panel panel-border-narrow js-hidden" id="financial-problems-explanation">
            
            <div class="form-group">
              
              <label for="financial-problems-reason">
                <span class="form-label">How would paying a fine cause you financial problems?</span>
                <span class="form-hint" id="financial-problems-reason-hint">Why do you think the court should allow you to pay your fine in instalments.</span>
              </label>
              
              <textarea class="form-control form-control-textarea" id="financial-problems-reason" name="financial-problems-reason" cols="30" rows="5" aria-describedby="financial-problems-reason-hint"></textarea>
              
            </div>
            
          </div>
          
        
        </fieldset>
      
      
      </div>
      
      
      <div class="form-group">
        <button class="button" type="submit" data-ng-click="buttonContinue($event)">Continue</button>
      </div>
      
    
    </form>
  
  
  </div>


</div>