<h1 class="heading-xlarge">Case details</h1>


<form class="form" method="post" action="#" data-form-selection data-form-toggle novalidate>
  
  
  <div class="form-group">
  
    <fieldset>
      
      <legend>
        <span class="form-label-bold">Posting date</span>
        <span class="form-hint" id="posting-hint">For example, 31 3 1980</span>
      </legend>

      <div class="form-date">

        <div class="form-group form-group-day">
          <label for="posting-day">Day</label>
          <input class="form-control" type="number" max="31" min="0" pattern="[0-9]*" id="posting-day" name="posting-day" data-ng-model="data.postingday" aria-describedby="posting-hint">
        </div>

        <div class="form-group form-group-month">
          <label for="posting-month">Month</label>
          <input class="form-control" type="number" max="12" min="0" pattern="[0-9]*" id="posting-month" name="posting-month" data-ng-model="data.postingmonth">
        </div>

        <div class="form-group form-group-year">
          <label for="posting-year">Year</label>
          <input class="form-control" type="number" max="2016" min="0" pattern="[0-9]*" id="posting-year" name="posting-year" data-ng-model="data.postingyear">
        </div>
        
      </div>

    </fieldset>
  
  </div>
  
  
  <div class="form-group">
    
    <label for="charges">
      <span class="form-label-bold">Number of charges</span>
      <span class="form-hint" id="charges-hint">It&rsquo;ll be on the charge sheet, in numbered boxes.</span>
    </label>
    
    <input class="form-control form-control-1-8" type="text" id="charges" name="charges" data-ng-model="data.charges" aria-describedby="charges-hint">
    
  </div>

    
  <div class="form-group">
        
    <fieldset>

      <legend>
        <span class="form-label-bold">Who are you?</span>
        <span class="form-hint" id="whoareyou-hint">Choose one of the following options.</span>
      </legend>

      <label class="block-label" for="whoareyou-person">
        <input type="radio" id="whoareyou-person" name="whoareyou" value="The person named in the notice" data-ng-model="data.whoareyou" aria-describedby="whoareyou-hint">
        The person named in the notice
      </label>
      
      <label class="block-label" for="whoareyou-company">
        <input type="radio" id="whoareyou-company" name="whoareyou" value="Pleading on behalf of a company" data-ng-model="data.whoareyou">
        Pleading on behalf of a company
      </label>

    </fieldset>
  
  </div>
  
  
  <div class="form-group">
    <button class="button" type="submit" data-ng-click="buttonContinue($event)">Continue</button>
    {{data}}
  </div>
  
  
</form>