<div class="govuk-box-highlight" role="alert" aria-live="assertive">
  
  <h1 class="bold-large">Your plea has been sent</h1>
  
  <p>Your case reference number is <br> <strong class="heading-medium">51/AB/12367/00</strong></p>
  
  <p>You will need to quote this if you contact the court.</p>
  
</div>


<div class="grid-row">


  <div class="column-two-thirds">


    <p>We have sent you a confirmation email.</p>


      <h2 class="heading-medium">What happens next?</h2>
      
      <ul class="list list-bullet">
        <li>We&rsquo;ll send you a letter with the magistrate&rsquo;s decision</li>
        <li>We&rsquo;ll tell you if you need to attend a trial and what evidence you may need to send to the court to support your case</li>
        <li>You can <a href="#">print a copy</a> of this plea confirmation for your records</li>
      </ul>


      <h2 class="heading-medium">Need to change your plea?</h2>
      
      <p>Contact the court by post or email quoting your case reference number as soon as possible.</p>


      <h3 class="heading-small">By post</h3>
      
      <p>
        Lavender Hill Magistrates Court<br>
        176A Lavdender Hill<br>
        London SW11 1JU
      </p>
      
      
      <h3 class="heading-small">By email</h3>
      
      <p><a href="mailto:swglondonmc@hmcts.gsi.gov.uk">swglondonmc@hmcts.gsi.gov.uk</a></p>
      
      <p><a class="button" href="#" role="button">Finish</a></p>


  </div>


</div>