<h1 class="heading-xlarge">Confirm your plea</h1>


<p class="lede">Review the information you&rsquo;ve provided before making your plea.</p>


<div class="summary">

  <div class="summary-heading">
    <h2 class="heading-medium">Case details</h2>
    <p class="summary-change"><a href="/#/case-details">Change<span class="visuallyhidden"> Case details</span></a></p>
  </div>
  
  <dl class="summary-content">
    
    <dt class="summary-title">Unique reference number</dt>
    <dd class="summary-body">51/AB/1234567/00</dd>
    
    <dt class="summary-title">Posting date</dt>
    <dd class="summary-body">11 February 2016</dd>
    
    <dt class="summary-title">Number of charges</dt>
    <dd class="summary-body">1</dd>
    
    <dt class="summary-title">You are</dt>
    <dd class="summary-body">Person named on the notice</dd>
    
  </dl>

</div>


<hr>


<div class="summary">

  <div class="summary-heading">
    <h2 class="heading-medium">Your details</h2>
    <p class="summary-change"><a href="#your-details">Change<span class="visuallyhidden"> Your details</span></a></p>
  </div>
  
  <dl class="summary-content">
    
    <dt class="summary-title">First name</dt> 
    <dd class="summary-body">Trevor</dd>
    
    <dt class="summary-title">Last name</dt>
    <dd class="summary-body">Saint</dd>
    
    <dt class="summary-title">Address</dt>
    <dd class="summary-body">As printed on the notice</dd>
    
    <dt class="summary-title">Contact number</dt>
    <dd class="summary-body">07700000000</dd>
    
    <dt class="summary-title">Date of birth</dt>
    <dd class="summary-body">18 March 1978</dd>
    
  </dl>

</div>


<hr>


<div class="summary">

  <div class="summary-heading">
    <h2 class="heading-medium">Your plea</h2>
    <p class="summary-change"><a href="#/your-pleas">Change<span class="visuallyhidden"> Your plea</span></a></p>
  </div>
  
  <dl class="summary-details">
    
    <dt class="summary-title">Your plea</dd>
    <dd class="summary-body">Guilty</dd>
    
    <dt class="summary-title">Mitigation</dt>
    <dd class="summary-body">I did it.</dd>
    
    <dt class="summary-title">Plead guilty in court</dt>
    <dd class="summary-body">No</dd>
    
  </dl>

</div>


<hr>


<div class="summary">

  <div class="summary-heading">
    <h2 class="heading-medium">Your employment status and finances</h2>
    <p class="summary-change"><a href="#/your-finances">Change<span class="visuallyhidden"> Your employment status and finances</span></a></p>
  </div>
  
  <dl class="summary-details">
    
    <dt class="summary-title">You are</dd>
    <dd class="summary-body">Employed</dd>
    
    <dt class="summary-title">You get paid</dt>
    <dd class="summary-body">Monthly</dd>
    
    <dt class="summary-title">Amount you get paid</dt>
    <dd class="summary-body">&pound;9,000</dd>
    
    <dt class="summary-title">Total weekly income</dt>
    <dd class="summary-body">&pound;4,500</dd>
    
    <dt class="summary-title">Financial hardship</dt>
    <dd class="summary-body">Yes</dd>
    
  </dl>

</div>


<hr>


<p><a class="button" href="#" role="button">Make your plea</a></p>

