<a class="link-back" href="" data-ng-click="backLink()">Back</a>


<h1 class="heading-xlarge">Confirm your plea</h1>


<p class="lede">Review the information you&rsquo;ve provided before making your plea.</p>


<hr>


<div class="summary">

  <div class="summary-heading">
    <h2 class="bold-medium">Your case</h2>
    <p class="summary-change"><a href="" ui-sref="your-case">Change<span class="visuallyhidden"> Your case</span></a></p>
  </div>
  
  <dl>
    <dt>Unique reference number</dt><dd>{{data.reference | chkEmpty}}</dd>
  </dl>

</div>


<hr>


<div class="summary">

  <div class="summary-heading">
    <h2 class="bold-medium">Your details</h2>
    <p class="summary-change"><a href="" ui-sref="your-details">Change<span class="visuallyhidden"> Your details</span></a></p>
  </div>
  
  <dl>
    <dt>First name</dt><dd>Trevor</dd>
    <dt>Last name</dt><dd>Saint</dd>
    <dt>Address</dt><dd>As printed on the notice</dd>
    <dt>Contact number</dt><dd>07783809087</dd>
    <dt>Date of birth</dt><dd>5 April 1978</dd>
    <dt>National Insurance number</dt><dd>{{data.nationalInsurance | chkEmpty}}</dd>
  </dl>

</div>


<hr>


<div class="summary">

  <div class="summary-heading">
    <h2 class="bold-medium">Your plea</h2>
    <p class="summary-change"><a href="" ui-sref="your-plea">Change<span class="visuallyhidden"> Your plea</span></a></p>
  </div>
  
  <dl>
    <dt>Your plea</dd><dd>Guilty</dd>
    <dt>Plead guilty in court</dt><dd>Yes</dd>
    <dt>Mitigation</dt><dd>Paying this fine is going to cause me problems.</dd>
  </dl>

</div>


<hr>


<div class="summary">


  <div class="summary-heading">
    <h2 class="bold-medium">Your employment status and finances</h2>
    <p class="summary-change"><a href="" ui-sref="employment">Change<span class="visuallyhidden"> Your employment status and finances</span></a></p>
  </div>
  
  
  <dl>
    <dt>You are</dd><dd>Employed and also receiving benefits</dd>
    <dt>You get paid</dt><dd>Monthly</dd>
    <dt>Amount you get paid</dt><dd>&pound;9,000</dd>
    <dt>Total weekly income</dt><dd>&pound;4,500</dd>
    <dt>Financial hardship</dt><dd>Yes</dd>
  </dl>
  
  
  <div class="summary-sub-heading">
    <h3 class="heading-small">Your benefits</h3>
    <p class="summary-change"><a href="" ui-sref="your-details">Change<span class="visuallyhidden"> Your benefits</span></a></p>
  </div>
  
  
  <dl>
    <dt>You receive</dd><dd>Contributory Employment and Support Allowance</dd>
    <dt>Your benefits are paid</dt><dd>Monthly</dd>
    <dt>Amount</dt><dd>&pound;500</dd>
  </dl>
  

</div>