<a class="link-back" href="" data-ng-click="backLink()">Back</a>


<div class="grid-row">
  
  
  <div class="column-two-thirds">
  

    <h1 class="heading-xlarge">Helping you plea online</h1>
    
    
    <p class="lede">A call centre is available for people who cannot use this online service without help.</p>
    
    
    <p>If you have questions about your case, you&rsquo;ll need to contact your court &ndash; not this call centre. You can find the contact details for your court using our <a href="https://www.makeaplea.service.gov.uk/court-finder/" rel="external">court finder service</a>.</p>
  
    
    <h2 class="heading-medium">Before you call</h2>
  
    <ul class="list list-bullet">
      <li>have the pack we sent with you &ndash; you&rsquo;ll be asked to enter information</li>
      <li>be connected to www.makeaplea.service.gov.uk from an internet&ndash;enabled device, for example, laptop, tablet or mobile phone</li>
    </ul>
    
  
    <h2 class="heading-medium">The call centre staff</h2>
    
    <ul class="list list-bullet">
      <li>will talk you through filling in this online service yourself</li>
      <li>do not work for the police or the court and will not be able to answer any questions about your case</li>
    </ul>
    
    
    <h3 class="heading-medium">Phone</h3>
    
    <p>Telephone: <b>0300 063 2140</b> <br> 9am to 5pm, Monday to Friday</p>
    
    <p>Closed Sundays, Christmas Day, Boxing Day and New Year&rsquo;s Day</p>
  
  
  </div>


</div>