<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en-GB"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en-GB"><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>Online Plea - GOV.UK</title>

    <script>
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>

    <!--[if gt IE 8]><!--><link href="/govuk/stylesheets/govuk-template.css?0.17.0" media="screen" rel="stylesheet"><!--<![endif]-->
    <!--[if IE 6]><link href="/govuk/stylesheets/govuk-template-ie6.css?0.17.0" media="screen" rel="stylesheet"><![endif]-->
    <!--[if IE 7]><link href="/govuk/stylesheets/govuk-template-ie7.css?0.17.0" media="screen" rel="stylesheet"><![endif]-->
    <!--[if IE 8]><link href="/govuk/stylesheets/govuk-template-ie8.css?0.17.0" media="screen" rel="stylesheet"><![endif]-->

    <link href="/govuk/stylesheets/govuk-template-print.css" media="print" rel="stylesheet">

    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["/public/stylesheets/fonts-ie8.css?0.17.0"]},
       c="/public/javascripts/vendor/goog/webfont-debug.js?0.17.0",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->

    <!--[if gte IE 9]><!-->
    <link href="/govuk/stylesheets/fonts.css" media="all" rel="stylesheet">
    <!--<![endif]-->

    <!--[if lt IE 9]>
      <script src="/govuk/javascripts/ie.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/govuk/images/favicon.ico?0.17.0" type="image/x-icon">
    <!--link rel="mask-icon" href="/govuk/images/gov.uk_logotype_crown.svg?0.17.0" color="#0b0c0c"-->
  
    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/govuk/images/apple-touch-icon-152x152.png?0.17.0">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/govuk/images/apple-touch-icon-120x120.png?0.17.0">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/govuk/images/apple-touch-icon-76x76.png?0.17.0">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="/govuk/images/apple-touch-icon-60x60.png?0.17.0">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/govuk/images/opengraph-image.png?0.17.0">

    <!--[if gt IE 8]><!--><link href="/stylesheets/main.css" media="all" rel="stylesheet"><!--<![endif]-->
    <!--[if IE 8]><link href="/stylesheets/main-ie8.css" media="all" rel="stylesheet"><![endif]-->
    
    <!-- print styles -->
    <link href="/stylesheets/print.css" media="print" rel="stylesheet">

  </head>

  <body data-ng-controller="mainController"> <!-- Define angular controller -->

  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  
  
  <div id="skiplink-container">
    <div>
      <a href="#content" class="skiplink">Skip to main content</a>
    </div>
  </div>
  
  
  <div id="global-cookie-message">
    <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
  </div>
  
  
  <header role="banner" id="global-header" class="with-proposition">
    <div class="header-wrapper">
      <div class="header-global">
        <div class="header-logo">
          <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
            <img src="/images/gov.uk_logotype_crown_invert_trans.png?0.17.0" width="35" height="31" alt=""> GOV.UK
          </a>
        </div>
      </div>
      <div class="header-proposition">
        <div class="content">
          <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
          <nav id="proposition-menu">
            <a href="/" id="proposition-name">Online Plea</a>
            <!--ul id="proposition-links">
              <li><a href="https://www.gov.uk/service-manual/digital-by-default">Digital by Default Service Standard</a></li>
              <li><a href="https://www.gov.uk/service-manual/start">Start using the manual</a></li>
              <li><a href="https://www.gov.uk/contact/govuk">Feedback</a></li>
            </ul-->
          </nav>
        </div>
      </div>
    </div>
  </header>


  <div id="global-header-bar"></div>


  <main id="content" role="main">


    <div class="phase-banner-alpha">
      <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service &ndash; your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>
    
    
    <div data-ng-app="pleaApp">
    
      <div data-ui-view></div>    
    
    </div>
  
  
  </main>
  
  
  <footer class="group js-footer" id="footer" role="contentinfo">

    <div class="footer-wrapper">

      <div class="footer-meta">
        
        <div class="footer-meta-inner">
          
          <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Cymraeg</a></li>
          </ul>

          <div class="open-government-licence">
            <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
            <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
          </div>
        </div>

        <div class="copyright">
          <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
        </div>
        
      </div>
      
    </div>
    
  </footer>


  <div class="app-error hidden" id="global-app-error"></div>
  
  
  <!-- CDNs -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-sanitize.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.12.0/lodash.js"></script>
  
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js"></script>
  
  
  <!-- Online Plea -->
  <script src="/scripts/app.js"></script>
  <script src="/scripts/directives.js"></script>
  <script src="/scripts/controllers.js"></script>
  <script src="/scripts/services.js"></script>
  <script src="/scripts/filters.js"></script>
  <script src="/scripts/backLink.js"></script>
  <script src="/scripts/employmentStatus.js"></script>
  <script src="/scripts/yesNoAnswer.js"></script>
  
  
  <!-- Finances Controllers -->
  <script src="/scripts/finances/ForwardController.js"></script>
  <script src="/scripts/finances/Forward2Controller.js"></script>
  <script src="/scripts/finances/EmploymentController.js"></script>
  <script src="/scripts/finances/EmployedFinancesController.js"></script>
  <script src="/scripts/finances/EmployedBenefitsFinancesController.js"></script>
  <script src="/scripts/finances/SelfEmployedFinancesController.js"></script>
  <script src="/scripts/finances/SelfEmployedBenefitsFinancesController.js"></script>
  <script src="/scripts/finances/OutOfWorkBenefitsFinancesController.js"></script>
  <script src="/scripts/finances/OtherFinancesController.js"></script>
  
  <!-- Expenses Controllers -->
  <script src="/scripts/expenses/HouseholdExpensesController.js"></script>
  <script src="/scripts/expenses/OtherExpensesController.js"></script>
  
  <!-- Benefits Controller -->
  <script src="/scripts/benefits/BenefitsController.js"></script>
  
  <!-- Confirmation Controller -->
  <script src="/scripts/confirm/ConfirmPleaController.js"></script>

  <script src="/scripts/your-case/YourCaseController.js"></script>
  <script src="/scripts/your-details/YourDetailsController.js"></script>
  

  </body>
</html>