<a class="link-back" href="" data-ng-click="backLink()">Back</a>


<div class="grid-row">
  
  
  <div class="column-two-thirds">
  

    <h1 class="heading-xlarge">Your expenses</h1>
    
    
    <p class="lede">To help the court make a decision about your payment terms, you must provide information about your expenses.</p>
    
    
    <form class="form" method="post" action="#" data-form-selection data-form-toggle novalidate>
      
      
      <h2 class="heading-large">Other expenses</h2>
      
      <p>What are your monthly household bills for the following?</p>
      
    
      <fieldset>
      
        <legend class="visuallyhidden">Other expenses</legend>
        
        <div class="form-group">
          
          <label for="television">
            <span class="form-label-bold">Television subscription<span class="visuallyhidden">, in pounds</span></span>
            <span class="form-hint" id="television-hint">For example, tv licence, satellite</span>
          </label>
          
          <span class="form-currency">
            <input class="form-control form-control-1-4" type="text" id="television" name="television" describedby="television-hint">
          </span>
          
        </div>
        
        <div class="form-group">
          
          <label for="travel">
            <span class="form-label-bold">Travel expenses<span class="visuallyhidden">, in pounds</span></span>
            <span class="form-hint" id="travel-hint">For example, fuel, car, public transport</span>
          </label>
          
          <span class="form-currency">
            <input class="form-control form-control-1-4" type="text" id="travel" name="travel" describedby="travel-hint">
          </span>
          
        </div>
        
        <div class="form-group">
          
          <label for="travel">
            <span class="form-label-bold">Telephone<span class="visuallyhidden">, in pounds</span></span>
            <span class="form-hint" id="telephone-hint">For example, landline or mobile</span>
          </label>
          
          <span class="form-currency">
            <input class="form-control form-control-1-4" type="text" id="telephone" name="telephone" describedby="telephone-hint">
          </span>
          
        </div>
        
        <div class="form-group">
          
          <label for="travel">
            <span class="form-label-bold">Loan repayments<span class="visuallyhidden">, in pounds</span></span>
            <span class="form-hint" id="loan-hint">For example, landline or mobile</span>
          </label>
          
          <span class="form-currency">
            <input class="form-control form-control-1-4" type="text" id="loan" name="loan" describedby="loan-hint">
          </span>
          
        </div> 
        
        <div class="form-group">
          
          <label class="form-label-bold" for="court">County court orders<span class="visuallyhidden">, in pounds</span></label>
          
          <span class="form-currency">
            <input class="form-control form-control-1-4" type="text" id="court" name="court">
          </span>
          
        </div> 
        
        <div class="form-group">
          
          <label class="form-label-bold" for="travel">Child maintenance<span class="visuallyhidden">, in pounds</span></label>
          
          <span class="form-currency">
            <input class="form-control form-control-1-4" type="text" id="maintenance" name="maintenance">
          </span>
          
        </div>  
        
        <div class="form-group">
          
          <fieldset class="inline">
  
            <legend>
              <span class="form-label-bold">Any other expenses that are not listed above?</span>
            </legend>
            
            <label class="block-label" for="other-expenses-yes" data-target="other-expenses-details">
              <input type="radio" id="other-expenses-yes" name="other-expenses" value="Yes"> Yes
            </label>
            
            <label class="block-label" for="other-expenses-no">
              <input type="radio" id="other-expenses-no" name="other-expenses" value="No"> No
            </label>
            
            <div class="panel panel-border-narrow js-hidden" id="other-expenses-details">
                
              <div class="form-group">
              
                <label for="other-significant-expenses">
                  <span class="form-label-bold">Other significant expenses</span>
                  <span class="form-hint" id="other-significant-expenses-hint">Tell us about your other significant expenses.</span>
                </label>
                
                <textarea class="form-control form-control-textarea" id="other-significant-expenses" name="other-significant-expenses" cols="30" rows="5" aria-describedby="other-significant-expenses-hint"></textarea>
                
              </div>
                
              <div class="form-group">
                <label class="form-label-bold" for="other-significant-expenses-monthly">Monthly total of your other significant expenses<span class="visuallyhidden">, in pounds</span>?</label>
                <span class="form-currency"><input class="form-control form-control-1-4" type="text" id="other-significant-expenses-monthly" name="other-significant-expenses-monthly"></span>
              </div>
              
            </div>
        
          </fieldset>
          
        </div>
      
      </fieldset>
      
      
      <div class="form-group">        
        <button class="button" type="submit" data-ng-click="buttonContinue($event)">Continue</button>      
      </div>
      
    
    </form>
  
  
  </div>


</div>