<a class="link-back" href="" data-ng-click="backLink()">Back</a>


<div class="grid-row">
  
  
  <div class="column-two-thirds">
  

    <h1 class="heading-xlarge">Your finances</h1>
    
    
    <div class="panel panel-border-wide">
    
      <p>For this type of offence you&rsquo;ll usually have to pay a fine:</p>
  
      <ul class="list list-bullet">
        <li>you must provide your income details</li>
        <li>the court will decide your fine based on your finances and the seriousness of the offence</li>
        <li>your details will be stored securely by the court</li>
      </ul>
    
    </div>
    
    
    <h2 class="heading-large">Your finances details</h2>
  
  
  </div>


</div>