<div class="grid-row">
  
  
  <div class="column-two-thirds">
    
    
    <h1 class="heading-xlarge">Your case</h1>


    <form class="form" method="post" action="#" data-form-selection data-form-toggle novalidate>
      
      
      <div class="form-group">
        
        <label for="reference-number">
          <span class="form-label-bold">Unique reference number</span>
          <span class="form-hint" id="reference-hint">It&rsquo;ll be on page 1 of the notice, usually at the top. <br> For example, 1234567890.</span>
        </label>
        
        <input class="form-control" type="text" id="reference" name="reference" data-ng-model="data.reference" aria-describedby="reference-hint">
        
      </div>
      
      
      <div class="form-group">
        
        <label for="postcode">
          <span class="form-label-bold">Postcode</span>
          <span class="form-hint" id="postcode-hint">It&rsquo;ll be on the notice we sent you.</span>
        </label>
        
        <input class="form-control form-control-1-4" type="text" id="postcode" name="postcode" data-ng-model="data.postcode" aria-describedby="postcode-hint">
        
      </div>
      
      
      <div class="form-group">
        <button class="button" type="submit" data-ng-click="buttonContinue($event)">Continue</button>
      </div>
      
      
    </form>
    
    
  </div>
  
  
</div>