<a class="link-back" href="#">Back</a>


<div class="grid-row">
  
  
  <div class="column-two-thirds">
    
    
    <div class="error-summary" ng-show="myform.$submitted && myform.$myinvalid" role="group" aria-labelledby="error-summary-heading" tabindex="-1" focus-me="errorSummaryFocused">
  
      <h1 class="heading-medium error-summary-heading" id="error-summary-heading">Message to alert the user to a problem goes here</h1>
  
      <p>Optional description of the error(s) and how to correct them.</p>
  
      <ul class="error-summary-list">
        <li ng-show="myform.reference.$myinvalid"><a href ng-click="enterReferenceClicked()" scroll-to-item scroll-to="#reference-box">Enter your Unique reference number</a></li>
        <li ng-show="myform.postcode.$myinvalid"><a href ng-click="enterPostcodeClicked()" scroll-to-item scroll-to="#postcode-box">Enter your Postcode</a></li>
      </ul>
  
    </div>
    
    
    <h1 class="heading-xlarge">Your case</h1>


    <form class="form" name="myform" method="post" action="#" data-form-selection data-form-toggle novalidate>
      
      
      <div id="reference-box" class="form-group" ng-class="{'error': myform.$submitted && myform.reference.$myinvalid}">
        
        <label for="reference">
          <span class="form-label-bold">Unique reference number</span>
          <span class="form-hint" id="reference-hint">It&rsquo;ll be on page 1 of the notice, usually at the top. <br> For example, 1234567890.</span>
          <span class="error-message" ng-show="myform.$submitted && myform.reference.$myinvalid" id="error-message-reference">Enter your Unique reference number</span>
        </label>
        
        <input class="form-control" name="reference" type="text" id="reference" name="reference" data-ng-model="data.reference" aria-describedby="{{referenceAriaDescribedBy()}}" aria-invalid="{{myform.$submitted && myform.postcode.$myinvalid}}" required focus-me="referenceFocused" value="{{data.reference}}">        
      </div>
      
      
      <div class="form-group" id="postcode-box" ng-class="{'error': myform.$submitted && myform.postcode.$myinvalid}">
        
        <label for="postcode">
          <span class="form-label-bold">Postcode</span>
          <span class="form-hint" id="postcode-hint">It&rsquo;ll be on the notice we sent you.</span>
          <span class="error-message" id="error-message-postcode" ng-show="myform.$submitted && myform.postcode.$myinvalid">Enter your Postcode</span>
        </label>
        
        <input class="form-control form-control-1-4" type="text" id="postcode" name="postcode" data-ng-model="data.postcode" aria-describedby="{{postcodeAriaDescribedBy()}}" aria-invalid="{{myform.$submitted && myform.postcode.$myinvalid}}" required focus-me="postcodeFocused" value="{{data.postcode}}">
      </div>
      
      
      <div class="form-group">
        <button class="button" type="submit" data-ng-click="buttonContinue($event)">Continue</button>
      </div>
      
      
      <p><a href="#">Back</a></p>
      
      
    </form>
    
    
  </div>
  
  
</div>