<a class="link-back" href="" data-ng-click="backLink()">Back</a>


<div class="grid-row">
  
  
  <div class="column-two-thirds">
  

    <h1 class="heading-xlarge">Your employment status</h1>
    
    
    <div class="panel panel-border-wide">
    
      <p>Because you&rsquo;ve pleaded guilty, you must now tell us about your employment status. This will:</p>
      
      <ul class="list list-bullet">
        <li>make sure your fine is based on your circumstances</li>
        <li>help to speed up the processing of your case</li>
      </ul>
    
    </div>
    
    
    <h2 class="heading-large">Are you?</h2>
    
    
    <form class="form" method="post" action="#" data-form-selection data-form-toggle novalidate>
    
    
      <div class="form-group">
    
    
        <fieldset class="stuff">
    
    
          <legend class="visuallyhidden">Are you?</legend>
    
    
          <label class="block-label" for="employed" data-target="receive-benefits">
            <input type="radio" id="employed" name="employment" value="Employed" data-ng-model="data.employment"> Employed
          </label>
          
          
          <div class="panel panel-border-narrow js-hidden" id="receive-benefits">
              
            <fieldset class="inline">

              <legend>
                <span class="form-label-bold">Do you also receive benefits?</span>
              </legend>
        
              <label class="block-label" for="receive-benefits-yes">
                <input id="receive-benefits-yes" name="receive-benefits" value="Yes" type="radio"> Yes
              </label>
              
              <label class="block-label" for="receive-benefits-no">
                <input id="receive-benefits-no" name="receive-benefits" value="No" type="radio"> No
              </label>
        
            </fieldset>

          </div>
          
          
          <label class="block-label" for="self-employed">
            <input type="radio" id="self-employed" name="employment" value="Self employed" data-ng-model="data.employment"> Self&ndash;employed
          </label>
          
          
          <label class="block-label" for="work-benefits">
            <input type="radio" id="work-benefits" name="employment" value="Receiving out of work benefits" data-ng-model="data.employment"> Receiving out of work benefits
          </label>
          
          
          <label class="block-label" for="other" data-target="provide-details">
            <input type="radio" id="other" name="employment" value="Other" data-ng-model="data.employment"> Other
          </label>
          
          
          <div class="panel panel-border-narrow js-hidden" id="provide-details">
              
            <div class="form-group">
              <label for="provide-details">
                <span class="form-label-bold">Provide details</span>
                <span class="form-hint" id="provide-details-hint">For example, student or retired.</label>
              </label>
              <input class="form-control" type="text" id="provide-details" name="provide-details" describedby="provide-details-hint">
            </div>
            
          </div>
          
    
        </fieldset>
      
      
      </div>
      
      
      <div class="form-group">
        <button class="button" type="submit" data-ng-click="buttonContinue($event)">Continue</button>
      </div>
      
    
    </form>
  
  
  </div>


</div>