<a class="link-back" href="" data-ng-click="backLink()">Back</a>


<div class="grid-row">
  
  
  <div class="column-two-thirds">
    
    
    <h1 class="heading-xlarge">Your details</h1>
    
    
    <p class="lede">We need your details in case we have to contact you about your plea.</p>
    
    
    <h2 class="heading-large">Personal details</h2>
    
    
    <form class="form" method="post" action="" data-form-selection data-form-toggle novalidate>
      
      
      <div class="form-group">
    
        <div class="panel panel-border-wide">
          
          <h3 class="heading-small">Trevor Saint</h3>
          
          <p>
            5 Moorhens<br>
            Fleet, Hampshire<br>
            GU51 5BU
          </p>
          
        </div>
      
      </div>
      
      
      <fieldset class="inline">
    
        <legend>
          <span class="form-label-bold">Are your personal details correct?</span>
          <span class="form-hint" id="your-details-hint">It&rsquo;ll be on page 1 of the notice we sent you.</span>
        </legend>
    
        <div class="form-group">
    
          <label class="block-label" for="correct-details-yes">
            <input type="radio" id="correct-details-yes" name="correct-details" value="As printed on the notice" aria-describedby="your-details-hint" data-ng-model="data.details"> Yes
          </label>
    
          <label class="block-label" for="correct-details-no" data-target="incorrect-details">
            <input type="radio" id="correct-details-no" name="correct-details" value="No" data-ng-model="data.details"> No
          </label>
    
          <div class="panel panel-border-narrow js-hidden" id="incorrect-details">
            
              <div class="form-group">
                
                <label for="update-details">
                  <span class="form-label-bold">Update your personal details</span>
                  <span class="form-hint" id="update-details-hint">If no, tell us your correct personal details here.</span>
                </label>
                
                <textarea class="form-control form-control-textarea" id="update-details" name="update-details" cols="30" rows="5" aria-describedby="update-details-hint" data-ng-model="data.updateDetails"></textarea>
                
              </div>
            
          </div>
    
        </div>
    
      </fieldset>
      
      
      <div class="form-group">
        
        <label for="telephone">
          <span class="form-label-bold">Contact number</span>
          <span class="form-hint" id="telephone-hint">Landland or mobile number.</span>
        </labrel>
        
        <input class="form-control form-control-1-3" type="tel" id="telephone" name="telephone" aria-describedby="telephone-hint" data-ng-model="data.telephone">
        
      </div>
      
      
      <div class="form-group">
      
        <fieldset>
          
          <legend>
            <span class="form-label-bold">What is your date of birth?</span>
            <span class="form-hint" id="dob-hint">For example, 31 3 1980.</span>
          </legend>
    
          <div class="form-date">
    
            <div class="form-group form-group-day">
              <label for="dob-day">Day</label>
              <input class="form-control" type="number" max="31" min="0" pattern="[0-9]*" id="dob-day" name="dob-day" aria-describedby="dob-hint">
            </div>
    
            <div class="form-group form-group-month">
              <label for="dob-month">Month</label>
              <input class="form-control" type="number" max="12" min="0" pattern="[0-9]*" id="dob-month" name="dob-month">
            </div>
    
            <div class="form-group form-group-year">
              <label for="dob-year">Year</label>
              <input class="form-control" type="number" max="2016" min="0" pattern="[0-9]*" id="dob-year" name="dob-year">
            </div>
          </div>
    
        </fieldset>
      
      </div>
      
      
      <fieldset class="inline">

        <legend>
          <span class="form-label-bold">Do you have a National Insurance number?</span>
        </legend>
  
        <div class="form-group">
  
          <label class="block-label" for="national-insurance-yes" data-target="national-insurance">
            <input type="radio" id="national-insurance-yes" name="national-insurance" value="Yes"> Yes
          </label>
  
          <label class="block-label" for="national-insurance-no">
            <input type="radio" id="national-insurance-no" name="national-insurance" value="No"> No
          </label>
  
          <div class="panel panel-border-narrow js-hidden" id="national-insurance">
            
            <label for="national-insurance">
              <span class="form-label-bold">National Insurance number</span>
              <span class="form-hint" id="national-insurance-hint">It&rsquo;ll be on your last payslip. For example, JH 21 90 0A.</span>
            </label>
            
            <input class="form-control" type="text" id="national-insurance" name="national-insurance" describedby="national-insurance-hint" data-ng-model="data.nationalInsurance">
            
          </div>
  
        </div>
  
      </fieldset>
      
      
      <div class="form-group">
        <button class="button" type="submit" data-ng-click="buttonContinue($event)">Continue</button>
      </div>
      
      
    </form>
    
    
  </div>


</div>
