<back-link></back-link>


<div class="grid-row">
  
  
  <div class="column-two-thirds">
  

    <h1 class="heading-xlarge">Your finances</h1>


    <error-summary
      form="vm.form"
      fields="[
        {
          name: 'paid',
          label: 'How often do you get paid?'
        },
        {
          name: 'weekly-pay',
          label: 'Weekly take home pay (after tax)?'
        },
        {
          name: 'fortnightly-pay',
          label: 'Fortnightly take home pay (after tax)?'
        },
        {
          name: 'monthly-pay',
          label: 'Monthly take home pay (after tax)?'
        },
        {
          name: 'other-pay',
          label: 'Average weekly take home pay (after tax)?'
        },
        {
          name: 'financial-problems',
          label: 'Would paying a fine cause you serious financial problems?'
        },
        {
          name: 'financial-problems-justification',
          label: 'How would paying a fine cause you financial problems?'
        }
      ]">
    </error-summary>
    

    <form class="form" method="post" name="vm.form" autocomplete="off" novalidate data-form-selection>
      
      
      <div class="panel panel-border-wide">
    
        <p>For this type of offence you&rsquo;ll usually have to pay a fine:</p>
    
        <ul class="list list-bullet">
          <li>you must provide your income details</li>
          <li>the court will decide your fine based on your finances and the seriousness of the offence</li>
          <li>your details will be stored securely by the court</li>
        </ul>
      
      </div>
      
      
      <h2 class="heading-medium">Your income</h2>
      
      
      <div class="form-group">
      
        <fieldset data-ng-class="{'error': vm.form['paid'].invalid}">

          <legend id="error-paid" data-ng-messages="vm.form['paid'].error">
            <span class="form-label-bold">How often do you get paid?</span>
            <span class="error-message" id="error-message-paid" data-ng-message="required">Choose an answer</span>
          </legend>
    
          <label class="block-label" for="paid-weekly" data-ng-class="{'selected': vm.paymentFrequency === 'Weekly'}">
            <input type="radio" id="paid-weekly" name="paid" value="Weekly" required aria-required="true" aria-controls="weekly"
                   data-ng-attr-aria-invalid="{{vm.form['paid'].invalid ? 'true' : undefined}}"
                   data-ng-attr-aria-describedby="{{vm.form['paid'].invalid ? 'error-message-paid' : undefined}}"
                   data-ng-attr-aria-expanded="{{vm.paymentFrequency === 'Weekly' ? 'true' : 'false'}}"
                   data-ng-model="vm.paymentFrequency"> Weekly
          </label>
          
          <div class="panel panel-border-narrow" id="weekly"
               data-ng-class="{'js-hidden': vm.paymentFrequency !== 'Weekly'}"
               data-ng-attr-aria-hidden="{{vm.paymentFrequency !== 'Weekly' ? 'true' : 'false'}}">
            
            <div class="form-group" data-ng-class="{'error': vm.form['weekly-pay'].invalid}">
              
              <label for="weekly-pay" id="error-weekly-pay" data-ng-messages="vm.form['weekly-pay'].error">
                <span class="form-label">Weekly take home pay (after tax)<span class="visuallyhidden">, in pounds</span>?</span>
                <span class="error-message" id="error-message-weekly-pay" data-ng-message="required">Provide this information</span>
                <span class="error-message" id="error-message-weekly-pay" data-ng-message="pattern">Amount not valid &ndash; enter again</span>
              </label>
              
              <span class="form-currency">
                <input class="form-control form-control-1-4" type="text" id="weekly-pay" name="weekly-pay"
                       data-ng-attr-aria-invalid="{{vm.form['weekly-pay'].invalid ? 'true' : undefined}}"
                       data-ng-attr-aria-describedby="{{vm.form['weekly-pay'].invalid ? 'error-message-weekly-pay' : undefined}}"
                       data-ng-attr-aria-required="{{vm.paymentFrequency === 'Weekly' ? 'true' : undefined}}"
                       data-ng-required="vm.paymentFrequency === 'Weekly'"
                       data-ng-model="vm.weeklyPay"
                       data-ng-pattern="vm.decimalLimit">
              </span>
              
            </div>

          </div>
          
          <label class="block-label" for="paid-fortnighly" data-ng-class="{'selected': vm.paymentFrequency === 'Fortnightly'}">
            <input type="radio" id="paid-fortnighly" name="paid" value="Fortnightly" required aria-required="true" aria-controls="fortnightly"
                   data-ng-attr-aria-invalid="{{vm.form['paid'].invalid ? 'true' : undefined}}"
                   data-ng-attr-aria-expanded="{{vm.paymentFrequency === 'Fortnightly' ? 'true' : 'false'}}"
                   data-ng-model="vm.paymentFrequency"> Fortnightly
          </label>
          
          <div class="panel panel-border-narrow" id="fortnightly"
               data-ng-class="{'js-hidden': vm.paymentFrequency !== 'Fortnightly'}"
               data-ng-attr-aria-hidden="{{vm.paymentFrequency !== 'Fortnightly' ? 'true' : 'false'}}">
              
            <div class="form-group" data-ng-class="{'error': vm.form['fortnightly-pay'].invalid}">

              <label for="fortnightly-pay" id="error-fortnightly-pay" data-ng-messages="vm.form['fortnightly-pay'].error">
                <span class="form-label">Fortnightly take home pay (after tax)<span class="visuallyhidden">, in pounds</span>?</span>
                <span class="error-message" id="error-message-fortnightly-pay" data-ng-message="required">Provide this information</span>
                <span class="error-message" id="error-message-fortnightly-pay" data-ng-message="pattern">Amount not valid &ndash; enter again</span>
              </label>

              <span class="form-currency">
                <input class="form-control form-control-1-4" type="text" id="fortnightly-pay" name="fortnightly-pay"
                       data-ng-attr-aria-invalid="{{vm.form['fortnightly-pay'].invalid ? 'true' : undefined}}"
                       data-ng-attr-aria-describedby="{{vm.form['fortnightly-pay'].invalid ? 'error-message-fortnightly-pay' : undefined}}"
                       data-ng-attr-aria-required="{{vm.paymentFrequency === 'Fortnightly' ? 'true' : undefined}}"
                       data-ng-required="vm.paymentFrequency === 'Fortnightly'"
                       data-ng-model="vm.fortnightlyPay"
                       data-ng-pattern="vm.decimalLimit">
              </span>

            </div>

          </div>

          <label class="block-label" for="paid-monthly" data-ng-class="{'selected': vm.paymentFrequency === 'Monthly'}">
            <input type="radio" id="paid-monthly" name="paid" value="Monthly" required aria-required="true" aria-controls="monthly"
                   data-ng-attr-aria-invalid="{{vm.form['paid'].invalid ? 'true' : undefined}}"
                   data-ng-attr-aria-expanded="{{vm.paymentFrequency === 'Monthly' ? 'true' : 'false'}}"
                   data-ng-model="vm.paymentFrequency"> Monthly
          </label>
          
          <div class="panel panel-border-narrow" id="monthly"
               data-ng-class="{'js-hidden': vm.paymentFrequency !== 'Monthly'}"
               data-ng-attr-aria-hidden="{{vm.paymentFrequency !== 'Monthly' ? 'true' : 'false'}}">

            <div class="form-group" data-ng-class="{'error': vm.form['monthly-pay'].invalid}">

              <label for="monthly-pay" id="error-monthly-pay" data-ng-messages="vm.form['monthly-pay'].error">
                <span class="form-label">Monthly take home pay (after tax)<span class="visuallyhidden">, in pounds</span>?</span>
                <span class="error-message" id="error-message-monthly-pay" data-ng-message="required">Provide this information</span>
                <span class="error-message" id="error-message-monthly-pay" data-ng-message="pattern">Amount not valid &ndash; enter again</span>
              </label>

              <span class="form-currency">
                <input class="form-control form-control-1-4" type="text" id="monthly-pay" name="monthly-pay"
                       data-ng-attr-aria-invalid="{{vm.form['monthly-pay'].invalid ? 'true' : undefined}}"
                       data-ng-attr-aria-describedby="{{vm.form['monthly-pay'].invalid ? 'error-message-monthly-pay' : undefined}}"
                       data-ng-attr-aria-required="{{vm.paymentFrequency === 'Monthly' ? 'true' : undefined}}"
                       data-ng-required="vm.paymentFrequency === 'Monthly'"
                       data-ng-model="vm.monthlyPay"
                       data-ng-pattern="vm.decimalLimit">
              </span>

            </div>
            
          </div>
            
          <label class="block-label" for="paid-other" data-ng-class="{'selected': vm.paymentFrequency === 'Other'}">
            <input type="radio" id="paid-other" name="paid" value="Other" required aria-required="true" aria-controls="other"
                   data-ng-attr-aria-invalid="{{vm.form['paid'].invalid ? 'true' : undefined}}"
                   data-ng-attr-aria-expanded="{{vm.paymentFrequency === 'Other' ? 'true' : 'false'}}"
                   data-ng-model="vm.paymentFrequency"> Other
          </label>
          
          <div class="panel panel-border-narrow" id="other"
               data-ng-class="{'js-hidden': vm.paymentFrequency !== 'Other'}"
               data-ng-attr-aria-hidden="{{vm.paymentFrequency !== 'Other' ? 'true' : 'false'}}">

            <div class="form-group" data-ng-class="{'error': vm.form['other-pay'].invalid}">
              
              <label id="error-other-pay" for="other-pay" data-ng-messages="vm.form['other-pay'].error">
                <span class="form-label">Average weekly take home pay (after tax)<span class="visuallyhidden">, in pounds</span>?</span>
                <span class="error-message" id="error-message-other-pay" data-ng-message="required">Provide this information</span>
                <span class="error-message" id="error-message-other-pay" data-ng-message="pattern">Amount not valid &ndash; enter again</span>
              </label>
              
              <span class="form-currency">
                <input class="form-control form-control-1-4" type="text" id="other-pay" name="other-pay"
                       data-ng-attr-aria-invalid="{{vm.form['other-pay'].invalid ? 'true' : undefined}}"
                       data-ng-attr-aria-describedby="{{vm.form['other-pay'].invalid ? 'error-message-other-pay' : undefined}}"
                       data-ng-attr-aria-required="{{vm.paymentFrequency === 'Other' ? 'true' : undefined}}"
                       data-ng-required="vm.paymentFrequency === 'Other'"
                       data-ng-model="vm.otherPay"
                       data-ng-pattern="vm.decimalLimit">
              </span>
              
            </div>
            
          </div>
    
        </fieldset>
      
      </div>
      
      
      <div class="form-group">

        <fieldset class="inline" data-ng-class="{'error': vm.form['financial-problems'].invalid}">

          <legend id="error-financial-problems" data-ng-messages="vm.form['financial-problems'].error">
            <span class="form-label-bold">Would paying a fine cause you serious financial problems?</span>
            <span class="form-hint" id="financial-problems-hint">For example, you would become homeless</span>
            <span class="error-message" id="error-message-financial-problems" data-ng-message="required">Choose an answer</span>
          </legend>

          <label class="block-label" for="financial-problems-yes" data-ng-class="{'selected': vm.financialProblems === 'Yes'}">
            <input type="radio" id="financial-problems-yes" name="financial-problems" value="Yes" required aria-required="true" aria-controls="financial-problems"
                   data-ng-attr-aria-invalid="{{vm.form['financial-problems'].invalid ? 'true' : undefined}}"
                   data-ng-attr-aria-describedby="{{vm.form['financial-problems'].invalid ? 'error-message-financial-problems' : 'financial-problems-hint'}}"
                   data-ng-attr-aria-expanded="{{vm.financialProblems === 'Yes' ? 'true' : 'false'}}"
                   data-ng-model="vm.financialProblems"> Yes
          </label>

          <label class="block-label" for="financial-problems-no" data-ng-class="{'selected': vm.financialProblems === 'No'}">
            <input type="radio" id="financial-problems-no" name="financial-problems" value="No" required aria-required="true"
                   data-ng-attr-aria-invalid="{{vm.form['financial-problems'].invalid ? 'true' : undefined}}"
                   data-ng-model="vm.financialProblems"> No
          </label>
          
          <div class="panel panel-border-narrow" id="financial-problems"
               data-ng-class="{'js-hidden': vm.financialProblems !== 'Yes'}"
               data-ng-attr-aria-hidden="{{vm.financialProblems !== 'Yes' ? 'true' : 'false'}}">

            <div class="form-group" data-ng-class="{'error': vm.form['financial-problems-justification'].invalid}">
              
              <label id="error-financial-problems-justification" for="financial-problems-justification" data-ng-messages="vm.form['financial-problems-justification'].error">
                <span class="form-label">How would paying a fine cause you financial problems?</span>
                <span class="form-hint">You may be able to pay in instalments if you provide a good reason</span>
                <span class="error-message" id="error-message-financial-problems-justification" data-ng-message="required">Provide this information</span>
              </label>
              
              <textarea id="financial-problems-justification" class="form-control form-control-textarea" name="financial-problems-justification" cols="30" rows="3"
                        data-ng-attr-aria-invalid="{{vm.form['financial-problems-justification'].invalid ? 'true' : undefined}}"
                        data-ng-attr-aria-describedby="{{vm.form['financial-problems-justification'].invalid ? 'error-message-financial-problems-justification' : 'financial-problems-justification-hint'}}"
                        data-ng-attr-aria-required="{{vm.financialProblems === 'Yes' ? 'true' : undefined}}"
                        data-ng-required="vm.financialProblems === 'Yes'"
                        data-ng-model="vm.financialProblemsJustification"></textarea>
              
            </div>

          </div>

        </fieldset>

      </div>
      
      
      <div class="form-group">
        
        <button class="button" type="submit" 
          data-ng-click="vm.buttonContinue($event)" 
          data-focus-event="click" 
          data-focus-target="error-summary"
          data-focus>Save and continue
        </button>
        
      </div>
      
    
    </form>
  
  
  </div>


</div>