// ==========================================================================
// Plead online: Transport for London (forms)
// ==========================================================================


$module: "form";


.#{$module} {

  &-control-textarea {
    resize: vertical;   
    width: 100%;
  }
  
  &-currency {
    display: block;
    position: relative;
    
    .#{$module}-control {
      padding-left: em(34);
    }
    
    &:before {
      @include core-19;
      color: $grey-1;
      content: "\00a3";
      display: inline-block;
      font-weight: bold;
      position: absolute; left: em(12); top: em(7);
      text-align: center;
      vertical-align: middle;
    }
    
  }


}

