<back-link></back-link>


<div class="grid-row">


  <div class="column-two-thirds">


    <h1 class="heading-xlarge">Your employment</h1>


    <error-summary
      form="vm.form"
      fields="[
        {
          name: 'employment',
          errorLabelId: 'error-employment',
          label: 'Your status'
        },
        {
          name: 'provide-details',
          errorLabelId: 'error-provide-details',
          label: 'Provide details'
        }
      ]">
    </error-summary>


    <form class="form" method="post" name="vm.form" autocomplete="off" novalidate data-form-selection>


      <div class="form-group">
        
        <div class="panel panel-border-wide">
  
          <p>Because you&rsquo;ve pleaded guilty, you must now tell us about your employment status. This will:</p>
    
          <ul class="list list-bullet">
            <li>make sure your fine is based on your circumstances</li>
            <li>help to speed up the processing of your case</li>
          </ul>
    
        </div>
      
      </div>


      <div class="form-group">

        <fieldset data-ng-class="{'error': vm.form['employment'].invalid}">

          <legend id="error-employment">
            <span class="form-label-bold">Your status</span>
            <span class="error-message" id="error-message-employment" data-ng-show="vm.form['employment'].invalid">Choose an answer</span>
          </legend>

          <label class="block-label" for="employed" data-ng-class="{'selected': vm.employment === vm.employmentStatus.EMPLOYED}">
            <input type="radio" id="employed" name="employment" value="{{vm.employmentStatus.EMPLOYED}}" required aria-required="true"
                   data-ng-attr-aria-invalid="{{vm.form['employment'].invalid ? 'true' : undefined}}"
                   data-ng-attr-aria-describedby="{{vm.form['employment'].invalid ? 'error-message-employment' : undefined}}"
                   data-ng-model="vm.employment"> Employed
          </label>

          <label class="block-label" for="employed-with-benefits" data-ng-class="{'selected': vm.employment === vm.employmentStatus.EMPLOYED_BENEFITS}">
            <input type="radio" id="employed-with-benefits" name="employment" value="{{vm.employmentStatus.EMPLOYED_BENEFITS}}" required aria-required="true"
                   data-ng-attr-aria-invalid="{{vm.form['employment'].invalid ? 'true' : undefined}}"
                   data-ng-model="vm.employment"> Employed and also receiving benefits
          </label>

          <label class="block-label" for="self-employed" data-ng-class="{'selected': vm.employment === vm.employmentStatus.SELF_EMPLOYED}">
            <input type="radio" id="self-employed" name="employment" value="{{vm.employmentStatus.SELF_EMPLOYED}}" required aria-required="true"
                   data-ng-attr-aria-invalid="{{vm.form['employment'].invalid ? 'true' : undefined}}"
                   data-ng-model="vm.employment"> Self&ndash;employed
          </label>

          <label class="block-label" for="self-employed-with-benefits" data-ng-class="{'selected': vm.employment === vm.employmentStatus.SELF_EMPLOYED_BENEFITS}">
            <input type="radio" id="self-employed-with-benefits" name="employment" value="{{vm.employmentStatus.SELF_EMPLOYED_BENEFITS}}" required aria-required="true"
                   data-ng-attr-aria-invalid="{{vm.form['employment'].invalid ? 'true' : undefined}}"
                   data-ng-model="vm.employment"> Self&ndash;employed and also receiving benefits
          </label>

          <label class="block-label" for="work-benefits" data-ng-class="{'selected': vm.employment === vm.employmentStatus.OUT_OF_WORK_BENEFITS}">
            <input type="radio" id="work-benefits" name="employment" value="{{vm.employmentStatus.OUT_OF_WORK_BENEFITS}}" required aria-required="true"
                   data-ng-attr-aria-invalid="{{vm.form['employment'].invalid ? 'true' : undefined}}"
                   data-ng-model="vm.employment"> Receiving out of work benefits
          </label>

          <label class="block-label" for="other" data-ng-class="{'selected': vm.employment === vm.employmentStatus.OTHER}">
            <input type="radio" id="other" name="employment" value="{{vm.employmentStatus.OTHER}}" required aria-required="true" aria-controls="provide-more-details"
                   data-ng-attr-aria-invalid="{{vm.form['employment'].invalid ? 'true' : undefined}}"
                   data-ng-attr-aria-expanded="{{vm.employment === vm.employmentStatus.OTHER ? 'true' : 'false'}}"
                   data-ng-model="vm.employment"> Other
          </label>

        </fieldset>
        
        <div class="panel panel-border-narrow" id="provide-more-details"
             data-ng-class="{'js-hidden': vm.employment !== vm.employmentStatus.OTHER}"
             data-ng-attr-aria-hidden="{{vm.employment !== vm.employmentStatus.OTHER ? 'true' : 'false'}}">

          <div class="form-group" data-ng-class="{'error': vm.form['provide-details'].invalid}">
            <label for="provide-details" id="error-provide-details">
              <span class="form-label">Provide details</span>
              <span class="form-hint" id="provide-details-hint">For example, student or retired.</span>
              <span class="error-message" id="error-message-provide-details" data-ng-show="vm.form['provide-details'].invalid">Provide this information</span>
            </label>
            <input class="form-control" type="text" id="provide-details" name="provide-details"
                   data-ng-attr-aria-invalid="{{vm.form['provide-details'].invalid ? 'true' : undefined}}"
                   data-ng-attr-aria-describedby="{{vm.form['provide-details'].invalid ? 'error-message-provide-details' : 'provide-details-hint'}}"
                   data-ng-attr-aria-required="vm.employment === vm.employmentStatus.OTHER ? 'true' : undefined"
                   data-ng-required="vm.employment === vm.employmentStatus.OTHER"
                   data-ng-model="vm.provideDetails">
          </div>

        </div>
        
      </div>


      <div class="form-group">
        
        <button class="button" type="submit" 
          data-ng-click="vm.buttonContinue($event)" 
          data-focus-event="click" 
          data-focus-target="error-summary"
          data-focus>Save and continue
        </button>
        
      </div>


      <p data-ng-if="vm.nextState"><a href="" data-ui-sref="{{vm.nextState}}">Cancel</a></p>


    </form>


  </div>


</div>