<a class="link-back" href="" data-ng-click="backLink()">Back</a>


<h1 class="heading-xlarge">Confirm your answers</h1>


<p class="lede">Review your information before making your plea.</p>


<div class="synopsis">


  <section class="synopsis-item" aria-labelledby="your-case">
    
    <header class="synopsis-heading">
      <h2 class="bold-small" id="your-case">Your case</h2>
      <a class="synopsis-action" href="" data-ui-sref="your-case">Change<span class="visuallyhidden"> Your case</span></a>
    </header>
    
    <dl>
      <dt>Case number</dt>
      <dd>{{confirmPlea.pleaApp.yourCase.caseNumber | chkEmpty}}</dd>
      <dt>Your postcode</dt>
      <dd>{{confirmPlea.pleaApp.yourCase.casePostcode | chkEmpty}}</dd>
    </dl>
    
  </section>
  
  
  <section class="synopsis-item" aria-labelledby="your-details">
    
    <header class="synopsis-heading">
      <h2 class="bold-small" id="your-details">Your details</h2>
      <a class="synopsis-action" href="" data-ui-sref="your-details">Change<span class="visuallyhidden"> Your details</span></a>
    </header>
    
    <dl>
      <dt>First name</dt>
      <dd>{{confirmPlea.pleaApp.yourDetails.firstName | chkEmpty}}</dd>
      <dt>Last name</dt>
      <dd>{{confirmPlea.pleaApp.yourDetails.lastName | chkEmpty}}</dd>
      <dt>Address</dt>
      <dd>{{confirmPlea.pleaApp.yourDetails.address.street | chkEmpty}}<br>{{confirmPlea.pleaApp.yourDetails.address.city}}<br>{{confirmPlea.pleaApp.yourDetails.address.postcode}}</dd>
      <dt>Contact number</dt>
      <dd>{{confirmPlea.pleaApp.yourDetails.contactNumber | chkEmpty}}</dd>
      <dt>Date of birth</dt>
      <dd>{{confirmPlea.dateOfBirth | date: 'd MMMM yyyy' | chkEmpty}}</dd>
      <dt>National Insurance number</dt>
      <dd>{{confirmPlea.pleaApp.yourDetails.nationalInsuranceNumber | chkEmpty}}</dd>
    </dl>
    
  </section>
  
  
  <section class="synopsis-item" aria-labelledby="your-plea">
    
    <header class="synopsis-heading">
      <h2 class="bold-small" id="your-plea">Your plea</h2>
      <a class="synopsis-action" href="" data-ui-sref="your-plea">Change<span class="visuallyhidden"> Your plea</span></a>
    </header>
    
    <dl data-ng-show="confirmPlea.pleaApp.yourPlea.plea === 'Guilty'">
      <dt>Plea</dt>
      <dd>{{confirmPlea.pleaApp.yourPlea.plea}}</dd>
      <dt>Plead guilty in court</dt>
      <dd>{{confirmPlea.pleaApp.yourPlea.court}}</dd>
      <dt>Mitigation</dt>
      <dd>{{confirmPlea.pleaApp.yourPlea.mitigation}}</dd>
    </dl>
    
    <dl data-ng-show="confirmPlea.pleaApp.yourPlea.plea === 'Not Guilty'">
      <dt>Plea</dt>
      <dd>{{confirmPlea.pleaApp.yourPlea.plea}}</dd>
      <dt>Not guilty because?</dt>
      <dd>{{confirmPlea.pleaApp.yourPlea.notGuiltyBecause}}</dd>
      <dt>Do you need an interpreter in court?</dt>
      <dd>{{confirmPlea.pleaApp.yourPlea.interpreter}}</dd>
      <dt>Interpreter language</dt>
      <dd>{{confirmPlea.pleaApp.yourPlea.interpreterLanguage}}</dd>
      <dt>Evidence and witness information</dt>
      <dd>{{confirmPlea.pleaApp.yourPlea.prosecutorWitnessDisagree}}</dd>
      <dt>Name of the witness</dt>
      <dd>{{confirmPlea.pleaApp.yourPlea.prosecutorWitnessDetails}}</dd>
      <dt>Do you want to call a witness?</dt>
      <dd>{{confirmPlea.pleaApp.yourPlea.defenceWitnessCall}}</dd>
      <dt>Witness contact details</dt>
      <dd>{{confirmPlea.pleaApp.yourPlea.defenceWitnessContactDetails}}</dd>
      <dt>Does your witness need an interpreter?</dt>
      <dd>{{confirmPlea.pleaApp.yourPlea.defenceWitnessInterpreter}}</dd>
      <dt>Witness interpreter language</dt>
      <dd>{{confirmPlea.pleaApp.yourPlea.defenceWitnessInterpreterLanguage}}</dd>
    </dl>
    
  </section>
  
  
  <section class="synopsis-item" aria-labelledby="your-employment-and-income">
    
    
    <h2 class="bold-medium" id="your-employment-and-income">Your employment and income</h2>
  
  
    <section class="synopsis-subitem" data-ng-show="confirmPlea.pleaApp.yourEmployment.paymentFrequency">
        
      <header class="synopsis-heading">
        <h3 class="bold-small">Your employment</h3>
        <a class="synopsis-action" href="" data-ui-sref="your-employment">Change<span class="visuallyhidden"> Your employment</span></a>
      </header>
    
      <dl>
        <dt>You are</dt>
        <dd>{{confirmPlea.employmentStatus}}</dd>
        <dt>You get paid</dt>
        <dd>{{confirmPlea.pleaApp.yourEmployment.paymentFrequency}}</dd>
        <dt>Amount (after tax)</dt>
        <dd>&pound;{{confirmPlea.pleaApp.yourEmployment.paymentAmount | number : 2}}<span class="visuallyhidden">, in pounds</span></dd>
      </dl>
      
    </section>
    
    
    <section class="synopsis-subitem" data-ng-show="confirmPlea.pleaApp.pensionCredit">
        
      <header class="synopsis-heading">
        <h3 class="bold-small">Your pension credit</h3>
        <a class="synopsis-action" href="" data-ui-sref="pension-credit">Change<span class="visuallyhidden"> Your pension credit</span></a>
      </header>
    
      <dl>
        <dt>Your pension credit is paid</dt>
        <dd>{{confirmPlea.pleaApp.pensionCredit.pensionCreditFrequency}}</dd>
        <dt>Amount</dt>
        <dd>&pound;{{confirmPlea.pleaApp.pensionCredit.pensionCreditAmount | number : 2}}<span class="visuallyhidden">, in pounds</span></dd>
      </dl>
      
    </section>
    
    
    <section class="synopsis-subitem" data-ng-show="confirmPlea.pleaApp.yourBenefits">
        
      <header class="synopsis-heading">
        <h3 class="bold-small">Your benefits</h3>
        <a class="synopsis-action" href="" data-ui-sref="your-benefits">Change<span class="visuallyhidden"> Your benefits</span></a>
      </header>
    
      <dl>
        <dt>You receive</dt>
        <dd>{{confirmPlea.pleaApp.yourBenefits.benefit}}</dd>
        <dt>Your benefits are paid</dt>
        <dd>{{confirmPlea.pleaApp.yourBenefits.benefitFrequency}}</dd>
        <dt>Amount</dt>
        <dd>&pound;{{confirmPlea.pleaApp.yourBenefits.benefitAmount | number : 2}}<span class="visuallyhidden">, in pounds</span></dd>
      </dl>
      
    </section>
    
    
    <section class="synopsis-subitem">
        
      <header class="synopsis-heading">
        <h3 class="bold-small">Total income</h3>
      </header>
    
      <dl>
        <dt>Amount</dt>
        <dd><span class="bold-medium">&pound;{{confirmPlea.totalWeeklyIncome | number : 2}}</span><span class="visuallyhidden">, in pounds</span></dd>
      </dl>
      
    </section>
  
  
  </section>
  
  
  <section class="synopsis-item" aria-labelledby="special-financial-circumstances">
    
    
    <h2 class="bold-medium" id="special-financial-circumstances">Special financial circumstances</h2>
  
  
    <section class="synopsis-subitem">
        
      <header class="synopsis-heading">
        <h2 class="bold-small">Household expenses</h2>
        <a class="synopsis-action" href="" data-ui-sref="your-expenses.household">Change<span class="visuallyhidden"> Household expenses</span></a>
      </header>
    
      <dl>
        <dt>Other contributors to household bills</dt>
        <dd>{{confirmPlea.pleaApp.yourExpenses.household.contribute}}</dd>
        <dt>Amount</dt>
        <dd>&pound;{{confirmPlea.totalHouseholdExpenses | number : 2}}<span class="visuallyhidden">, in pounds</span></dd>
      </dl>
      
    </section>
    
    
    <section class="synopsis-subitem">
        
      <header class="synopsis-heading">
        <h2 class="bold-small">Other expenses</h2>
        <a class="synopsis-action" href="" data-ui-sref="your-expenses.other">Change<span class="visuallyhidden"> Other expenses</span></a>
      </header>
    
      <dl>
        <dt>Other expenses (not listed)</dt>
        <dd>{{confirmPlea.pleaApp.yourExpenses.other.otherSignificantExpensesDetails}}</dd>
        <dt>Amount</dt>
        <dd>&pound;{{confirmPlea.totalOtherExpenses | number : 2}}<span class="visuallyhidden">, in pounds</span></dd>
      </dl>
      
    </section>
    
    
    <section class="synopsis-subitem">
        
      <header class="synopsis-heading">
        <h2 class="bold-small">Total expenses</h2>
      </header>
    
      <dl class="synopsis-content">
        <dt>Amount</dt>
        <dd><span class="bold-medium">&pound;{{confirmPlea.totalExpenses | number : 2}}</span><span class="visuallyhidden">, in pounds</span></dd>
      </dl>
      
    </section>
  
  
  </section>


</div>


<div class="button-container">
  <a class="button" href="" role="button" data-ng-click="confirmPlea.buttonContinue($event)">Confirm and continue</a>
</div>