<back-link></back-link>


<div class="grid-row">
  
  
  <div class="column-two-thirds">
  

    <h1 class="heading-xlarge">Your finances</h1>


    <error-summary
      form="vm.form"
      fields="[
        {
          name: 'paid',
          label: 'How often do you get paid?'
        },
        {
          name: 'weekly-pay',
          label: 'Weekly take home pay (after tax)?'
        },
        {
          name: 'fortnightly-pay',
          label: 'Fortnightly take home pay (after tax)?'
        },
        {
          name: 'monthly-pay',
          label: 'Monthly take home pay (after tax)?'
        }
      ]">
    </error-summary>


    <form class="form" method="post" name="vm.form" action="" autocomplete="off" novalidate data-form-selection>
      
      
      <div class="panel panel-border-wide">
      
        <p>For this type of offence you&rsquo;ll usually have to pay a fine:</p>
    
        <ul class="list list-bullet">
          <li>you must provide your income details</li>
          <li>the court will decide your fine based on your finances and the seriousness of the offence</li>
          <li>your details will be stored securely by the court</li>
        </ul>
      
      </div>
  
  
      <h2 class="heading-medium">Your income</h2>
      
      
      <div class="form-group">
        
        <fieldset data-ng-class="{'error': vm.form['paid'].invalid}">
          
          <legend id="error-paid" data-ng-messages="vm.form['paid'].error">
            <span class="form-label-bold">How often do you get paid?</span>
            <span class="error-message" data-ng-message="required">Choose an answer</span>
          </legend>
    
          <label class="block-label" for="paid-weekly" data-ng-class="{'selected': vm.paymentFrequency === 'Weekly'}">
            <input type="radio" id="paid-weekly" name="paid" value="Weekly" required aria-required="true"
                   data-ng-attr-aria-expanded="{{vm.paymentFrequency === 'Weekly' ? 'true' : 'false'}}"
                   data-ng-model="vm.paymentFrequency"> Weekly
          </label>

          <div class="panel panel-border-narrow" id="weekly"
               data-ng-class="{'js-hidden': vm.paymentFrequency !== 'Weekly'}"
               data-ng-attr-aria-hidden="{{vm.paymentFrequency !== 'Weekly' ? 'true' : 'false'}}">
            
            <div class="form-group" data-ng-class="{'error': vm.form['weekly-pay'].invalid}">
              
              <label id="error-weekly-pay" for="weekly-pay" data-ng-messages="vm.form['weekly-pay'].error">
                <span class="form-label">Weekly take home pay (after tax)<span class="visuallyhidden">, in pounds</span>?</span>
                <span class="error-message" data-ng-message="required">Provide this information</span>
                <span class="error-message" data-ng-message="pattern">Amount not valid &ndash; enter correct amount</span>
              </label>
              
              <span class="form-currency">
                <input class="form-control form-control-1-4" id="weekly-pay" type="text" name="weekly-pay" data-ng-required="vm.paymentFrequency === 'Weekly'" data-ng-model="vm.weeklyPay" data-ng-pattern="vm.decimalLimit">
              </span>
              
            </div>
            
          </div>
          
          <label class="block-label" for="paid-fortnighly" data-ng-class="{'selected': vm.paymentFrequency === 'Fortnightly'}">
            <input type="radio" id="paid-fortnighly" name="paid" value="Fortnightly" required aria-required="true"
                   data-ng-attr-aria-expanded="{{vm.paymentFrequency === 'Fortnightly' ? 'true' : 'false'}}"
                   data-ng-model="vm.paymentFrequency"> Fortnightly
          </label>
          
          <div class="panel panel-border-narrow" id="fortnightly"
               data-ng-class="{'js-hidden': vm.paymentFrequency !== 'Fortnightly'}"
               data-ng-attr-aria-hidden="{{vm.paymentFrequency !== 'Fortnightly' ? 'true' : 'false'}}">
              
            <div class="form-group" data-ng-class="{'error': vm.form['fortnightly-pay'].invalid}">
              
              <label id="error-fortnightly-pay" for="fortnightly-pay" data-ng-messages="vm.form['fortnightly-pay'].error">
                <span class="form-label">Fortnightly take home pay (after tax)<span class="visuallyhidden">, in pounds</span>?</span>
                <span class="error-message" data-ng-message="required">Provide this information</span>
                <span class="error-message" data-ng-message="pattern">Amount not valid &ndash; enter correct amount</span>
              </label>
              
              <span class="form-currency">
                <input class="form-control form-control-1-4" type="text" id="fortnightly-pay" name="fortnightly-pay" data-ng-required="vm.paymentFrequency === 'Fortnightly'" data-ng-model="vm.fortnightlyPay" data-ng-pattern="vm.decimalLimit">
              </span>
              
            </div>
            
          </div>
          
          <label class="block-label" for="paid-monthly" data-ng-class="{'selected': vm.paymentFrequency === 'Monthly'}">
            <input type="radio" id="paid-monthly" name="paid" value="Monthly" required aria-required="true"
                   data-ng-attr-aria-expanded="{{vm.paymentFrequency === 'Monthly' ? 'true' : 'false'}}"
                   data-ng-model="vm.paymentFrequency"> Monthly
          </label>
          
          <div class="panel panel-border-narrow" id="monthly"
               data-ng-class="{'js-hidden': vm.paymentFrequency !== 'Monthly'}"
               data-ng-attr-aria-hidden="{{vm.paymentFrequency !== 'Monthly' ? 'true' : 'false'}}">
              
            <div class="form-group" data-ng-class="{'error': vm.form['monthly-pay'].invalid}">
              
              <label id="error-monthly-pay" for="monthly-pay" data-ng-messages="vm.form['monthly-pay'].error">
                <span class="form-label">Monthly take home pay (after tax)<span class="visuallyhidden">, in pounds</span>?</span>
                <span class="error-message" data-ng-message="required">Provide this information</span>
                <span class="error-message" data-ng-message="pattern">Amount not valid &ndash; enter correct amount</span>
              </label>
              
              <span class="form-currency">
                <input class="form-control form-control-1-4" type="text" id="monthly-pay" name="monthly-pay"
                       data-ng-required="vm.paymentFrequency === 'Monthly'"
                       data-ng-model="vm.monthlyPay"
                       data-ng-pattern="vm.decimalLimit">
              </span>
              
            </div>
            
          </div>
    
        </fieldset>
      
      </div>


      <div class="form-group">
        
        <button class="button" type="submit" 
          data-ng-click="vm.buttonContinue($event)" 
          data-focus-event="click" 
          data-focus-target="error-summary"
          data-focus>Save and continue
        </button>
        
      </div>
      
    
    </form>
  
  
  </div>


</div>