// ==========================================================================
// Plead online: Transport for London (related)
// ==========================================================================


$module: "related";


.#{$module} {
  border-top: em(10) solid $govuk-blue;
  margin-top: em(30);
  padding-top: em(5);
  
  &-section {
    margin-bottom: em(20);
  }
    
  &-title {
    @extend .heading-medium;
    margin-top: em(7);
    margin-bottom: em(12);
  }
  
  &-links {
    overflow: hidden;
    
    li {
      margin-bottom: em(12, 16);
    }
    
  }

}