// ==========================================================================
// Synopsis
// ==========================================================================


$module: "synopsis";


.#{$module} {
  
  
  dt {
    float: left;
    padding-top: em(10);
    width: 40%;
  }
  
  
  dd {
    overflow: hidden;
    padding-top: em(10);
  }
  
  
  &-item {
    border-top: 1px solid $border-colour;
    padding: em(30) 0;
    position: relative;
    
    &:first-child {
      border: 0 none;
    }
    
  }
  
  
  &-subitem {
    margin-top: em(20);
    position: relative;
    
    &:nth-of-type(1) {
      margin-top: 0;
    }
    
    .#{$module}-action {
      top: 0;
    }
    
  }
  
  
  &-action {
    position: absolute;
    top: em(30); right: 0;
    
    &:focus {
      outline: none; // GDS focus has issues!
    }
    
  }
  

}

