// ==========================================================================
// Tables
// ==========================================================================


$module: "table";


.#{$module} {


  &-summary {
    margin-bottom: em(30);

    td {
      vertical-align: top;
      
      &:first-child {
        width: 40%;
        
        &:after {
          content: ':';
        }
      }
      
    }
    
    .#{$module}-action {
      padding-right: 0;
      text-align: right;  
    }
    
  }


}

