// ==========================================================================
// Tables
// ==========================================================================


$module: "table";


.#{$module} {


  &-summary {
    margin-bottom: em(30);
    overflow: hidden;

    td {
      vertical-align: top;
      
      &:first-child {
        width: 40%;
      }
      
    }
    
    .#{$module}-action {
      padding-right: 0;
      text-align: right;  
    }
    
  }


}

