<a class="link-back" href="" data-ng-click="backLink()">Back</a>


<div class="grid-row">


  <div class="column-two-thirds">


    <h1 class="heading-xlarge">Your finances</h1>


    <div class="panel panel-border-wide">

      <p>For this type of offence you&rsquo;ll usually have to pay a fine:</p>

      <ul class="list list-bullet">
        <li>you must provide your income details</li>
        <li>the court will decide your fine based on your finances and the seriousness of the offence</li>
        <li>your details will be stored securely by the court</li>
      </ul>

    </div>


    <h2 class="heading-medium">Your income</h2>


    <form class="form" method="post" name="form" action="" autocomplete="off" novalidate data-form-selection data-form-toggle>


      <div class="form-group">

        <label for="source-income">
          <span class="form-label-bold">What's your main source of income?</span>
          <span class="form-hint">Eg, student loan, pension or investment</span>
        </label>

        <input class="form-control" type="text" id="source-income" name="source-income" data-ng-model="otherFinances.sourceIncome">

      </div>


      <div class="form-group">


        <fieldset>

          <legend>
            <span class="form-label-bold">How often is your main income paid?</span>
          </legend>

          <label class="block-label" for="paid-weekly" data-target="weekly">
            <input type="radio" id="paid-weekly" name="paid" value="Weekly" data-ng-model="otherFinances.paymentFrequency"> Weekly
          </label>

            <div class="panel panel-border-narrow js-hidden" id="weekly">

              <div class="form-group">
                <label class="form-label" for="weekly-pay">Weekly take home pay (after tax)<span class="visuallyhidden">, in pounds</span>?</label>
                <span class="form-currency"><input class="form-control form-control-1-4" type="text" id="weekly-pay" name="weekly-pay" data-ng-model="otherFinances.weeklyPay"></span>
              </div>

            </div>

          <label class="block-label" for="paid-fortnighly" data-target="fortnightly">
            <input type="radio" id="paid-fortnighly" name="paid" value="Fortnightly" data-ng-model="otherFinances.paymentFrequency"> Fortnightly
          </label>

            <div class="panel panel-border-narrow js-hidden" id="fortnightly">

              <div class="form-group">
                <label class="form-label" for="fortnightly-pay">Fortnightly take home pay (after tax)<span class="visuallyhidden">, in pounds</span>?</label>
                <span class="form-currency"><input class="form-control form-control-1-4" type="text" id="fortnightly-pay" name="fortnightly-pay" data-ng-model="otherFinances.fortnightlyPay"></span>
              </div>

            </div>

          <label class="block-label" for="paid-monthly" data-target="monthly">
            <input type="radio" id="paid-monthly" name="paid" value="Monthly" data-ng-model="otherFinances.paymentFrequency"> Monthly
          </label>

            <div class="panel panel-border-narrow js-hidden" id="monthly">

              <div class="form-group">
                <label class="form-label" for="monthly-pay">Monthly take home pay (after tax)<span class="visuallyhidden">, in pounds</span>?</label>
                <span class="form-currency"><input class="form-control form-control-1-4" type="text" id="monthly-pay" name="monthly-pay" data-ng-model="otherFinances.monthlyPay"></span>
              </div>

            </div>

          <label class="block-label" for="paid-other" data-target="other">
            <input type="radio" id="paid-other" name="paid" value="Other" data-ng-model="otherFinances.paymentFrequency"> Other
          </label>

            <div class="panel panel-border-narrow js-hidden" id="other">

              <div class="form-group">
                <label class="form-labelx" for="other-pay">Average weekly take home pay (after tax)<span class="visuallyhidden">, in pounds</span>?</label>
                <span class="form-currency"><input class="form-control form-control-1-4" type="text" id="other-pay" name="other-pay" data-ng-model="otherFinances.otherPay"></span>
              </div>

            </div>

        </fieldset>


      </div>


      <div class="form-group">


        <fieldset class="inline">


          <legend>
            <span class="form-label-bold">Do you receive Pension Credit?</span>
          </legend>


          <label class="block-label" for="pension-credit-yes">
            <input type="radio" id="pension-credit-yes"  name="pension-credit" value="Yes" data-ng-model="otherFinances.pensionCredit"> Yes
          </label>


          <label class="block-label" for="pension-credit-no">
            <input type="radio" id="pension-credit-no" name="pension-credit" value="No" data-ng-model="otherFinances.pensionCredit"> No
          </label>


        </fieldset>


      </div>


      <div class="form-group">


        <fieldset class="inline">


          <legend>
            <span class="form-label-bold">Would paying a fine cause you serious financial problems?</span>
            <span class="form-hint" id="financial-problems-hint">For example, you would become homeless.</span>
          </legend>


          <label class="block-label" for="financial-problems-yes">

            <input type="radio" id="financial-problems-yes" name="financial-problems" value="Yes" aria-describedby="financial-problems-hint" data-ng-model="otherFinances.financialProblems"> Yes

          </label>


          <label class="block-label" for="financial-problems-no">
            <input type="radio" id="financial-problems-no" name="financial-problems" value="No" data-ng-model="otherFinances.financialProblems"> No
          </label>


        </fieldset>


      </div>


      <div class="form-group">
        <button class="button" type="submit" data-ng-click="otherFinances.buttonContinue($event)">Continue</button>
      </div>


    </form>


  </div>


</div>
