<back-link></back-link>


<div class="grid-row">


  <div class="column-two-thirds">


    <h1 class="heading-xlarge">Your Pension Credit</h1>


    <error-summary
      form="vm.form"
      fields="[
        {
          name: 'paid',
          label: 'How often is your Pension Credit paid?'
        },
        {
          name: 'weekly-credit-pay',
          label: 'Weekly Pension Credit payment?'
        },
        {
          name: 'fortnightly-credit-pay',
          label: 'Fortnightly Pension Credit payment?'
        },
        {
          name: 'monthly-credit-pay',
          label: 'Monthly Pension Credit payment?'
        }
      ]">
    </error-summary>


    <form class="form" method="post" name="vm.form" action="" autocomplete="off" novalidate data-form-selection>


      <div class="form-group">


        <fieldset data-ng-class="{'error': vm.form['paid'].invalid}">

          <legend id="error-paid" data-ng-messages="vm.form['paid'].error">
            <span class="form-label-bold">How often is your Pension Credit paid?</span>
            <span class="error-message" data-ng-message="required">Choose an answer</span>
          </legend>

          <label class="block-label" for="paid-weekly" data-ng-class="{'selected': vm.pensionCreditFrequency === 'Weekly'}">
            <input type="radio" id="paid-weekly" name="paid" value="Weekly" required aria-required="true"
                   data-ng-attr-aria-expanded="{{vm.pensionCreditFrequency === 'Weekly' ? 'true' : 'false'}}"
                   data-ng-model="vm.pensionCreditFrequency"> Weekly
          </label>

          <div class="panel panel-border-narrow" id="weekly"
               data-ng-class="{'js-hidden': vm.pensionCreditFrequency !== 'Weekly'}"
               data-ng-attr-aria-hidden="{{vm.pensionCreditFrequency !== 'Weekly' ? 'true' : 'false'}}">
            
            <div class="form-group" data-ng-class="{'error': vm.form['weekly-credit-pay'].invalid}">
              
              <label id="error-weekly-credit-pay" for="weekly-credit-pay" data-ng-messages="vm.form['weekly-credit-pay'].error">
                <span class="form-label">Weekly Pension Credit payment<span class="visuallyhidden">, in pounds</span>?</span>
                <span class="error-message" data-ng-message="required">Provide this information</span>
                <span class="error-message" data-ng-message="pattern">Amount not valid &ndash; enter correct amount</span>
              </label>
              
              <span class="form-currency">
                <input class="form-control form-control-1-4" id="weekly-credit-pay" type="text" name="weekly-credit-pay" data-ng-required="vm.pensionCreditFrequency === 'Weekly'" data-ng-model="vm.weeklyPensionCreditPay" data-ng-pattern="vm.decimalLimit">
              </span>
              
            </div>
            
          </div>


          <label class="block-label" for="paid-fortnighly" data-ng-class="{'selected': vm.pensionCreditFrequency === 'Fortnightly'}">
            <input type="radio" id="paid-fortnighly" name="paid" value="Fortnightly"
                   data-ng-attr-aria-expanded="{{vm.pensionCreditFrequency === 'Fortnightly' ? 'true' : 'false'}}"
                   data-ng-model="vm.pensionCreditFrequency"> Fortnightly
          </label>


          <div class="panel panel-border-narrow" id="fortnightly"
               data-ng-class="{'js-hidden': vm.pensionCreditFrequency !== 'Fortnightly'}"
               data-ng-attr-aria-hidden="{{vm.pensionCreditFrequency !== 'Fortnightly' ? 'true' : 'false'}}">
              
            <div class="form-group" data-ng-class="{'error': vm.form['fortnightly-credit-pay'].invalid}">

              <label for="fortnightly-credit-pay" id="error-fortnightly-credit-pay" data-ng-messages="vm.form['fortnightly-credit-pay'].error">
                <span class="form-label">Fortnightly Pension Credit payment<span class="visuallyhidden">, in pounds</span>?</span>
                <span class="error-message" data-ng-message="required">Provide this information</span>
                <span class="error-message" data-ng-message="pattern">Amount not valid &ndash; enter correct amount</span>
              </label>

              <span class="form-currency">
                <input class="form-control form-control-1-4" type="text" id="fortnightly-credit-pay" name="fortnightly-credit-pay" data-ng-required="vm.pensionCreditFrequency === 'Fortnightly'" data-ng-model="vm.fortnightlyPensionCreditPay" data-ng-pattern="vm.decimalLimit">
              </span>

            </div>

          </div>


          <label class="block-label" for="paid-monthly" data-ng-class="{'selected': vm.pensionCreditFrequency === 'Monthly'}">
            <input type="radio" id="paid-monthly" name="paid" value="Monthly" required aria-required="true"
                   data-ng-attr-aria-expanded="{{vm.pensionCreditFrequency === 'Monthly' ? 'true' : 'false'}}"
                   data-ng-model="vm.pensionCreditFrequency"> Monthly
          </label>

          <div class="panel panel-border-narrow" id="monthly"
               data-ng-class="{'js-hidden': vm.pensionCreditFrequency !== 'Monthly'}"
               data-ng-attr-aria-hidden="{{vm.pensionCreditFrequency !== 'Monthly' ? 'true' : 'false'}}">
              
            <div class="form-group" data-ng-class="{'error': vm.form['monthly-credit-pay'].invalid}">
              
              <label id="error-monthly-credit-pay" for="monthly-credit-pay" data-ng-messages="vm.form['monthly-credit-pay'].error">
                <span class="form-label">Monthly take home pay (after tax)<span class="visuallyhidden">, in pounds</span>?</span>
                <span class="error-message" data-ng-message="required">Provide this information</span>
                <span class="error-message" data-ng-message="pattern">Amount not valid &ndash; enter correct amount</span>
              </label>
              
              <span class="form-currency">
                <input class="form-control form-control-1-4" type="text" id="monthly-credit-pay" name="monthly-credit-pay" data-ng-required="vm.pensionCreditFrequency === 'Monthly'" data-ng-model="vm.monthlyPensionCreditPay" data-ng-pattern="vm.decimalLimit">
              </span>
              
            </div>
            
          </div>


        </fieldset>


      </div>


      <div class="form-group">
        
        <button class="button" type="submit" 
          data-ng-click="vm.buttonContinue($event)" 
          data-focus-event="click" 
          data-focus-target="error-summary"
          data-focus>Save and continue
        </button>
        
      </div>


      <p data-ng-if="vm.nextState"><a href="" data-ui-sref="{{vm.nextState}}">Cancel</a></p>


    </form>


  </div>


</div>