<back-link></back-link>


<div class="grid-row">


  <div class="column-two-thirds">


    <h1 class="heading-xlarge">Your plea</h1>


    <error-summary
      form="vm.form"
      fields="[
        {
          name: 'plea',
          label: 'How do you plead?'
        },
        {
          name: 'court',
          label: 'What would you like to do?'
        },
        {
          name: 'not-guilty-because',
          label: 'Why do you believe you’re not guilty?'
        },
        {
          name: 'interpreter',
          label: 'Do you need an interpreter in court?'
        },
        {
          name: 'interpreter-language',
          label: 'Which language? (Including sign language)'
        },
        {
          name: 'evidence',
          label: 'Do you disagree with evidence in a witness statement sent to you?'
        },
        {
          name: 'witness-name',
          label: 'Enter the name of the witness and what you disagree with'
        },
        {
          name: 'witness',
          label: 'Do you want to call a witness?'
        },
        {
          name: 'witness-contact-details',
          label: 'Enter name, address and date of birth of any witnesses you want to call to support your case'
        },
        {
          name: 'witness-interpreter',
          label: 'Does your witness need an interpreter?'
        },
        {
          name: 'witness-interpreter-language',
          label: 'Which language? (Including sign language)'
        }
      ]">
    </error-summary>


    <p>This is your opportunity to present your case to the court. Please note:</p>
    
    
    <ul class="list list-bullet">
      <li>the charge details and witness statements are in the documents you were sent</li>
      <li>you could get a fine for each offence</li>
      <li>if you plead guilty you may get a 33&percnt; discount on any fine</li>
    </ul>


    <h2 class="heading-large">Your charge <span class="heading-secondary">Public service vehicle &ndash; passenger failing to produce a ticket</span></h2>
    
    
    <details data-progressive-disclosure>
  
      <summary><span class="summary">View charge information</span></summary>

      <div class="panel panel-border-narrow">

        <p>{{vm.pleaApp.yourPlea.offence.wording}}</p>

      </div>

    </details>


    <form class="form" method="post" name="vm.form" action="#" autocomplete="off" novalidate data-form-selection>
      

      <h3 class="heading-medium">Enter your plea</h3>


      <fieldset class="inline" data-ng-class="{'error': vm.form['plea'].invalid}">

        <legend id="error-plea">
          <span class="form-label-bold">How do you plead?</span>
          <span class="error-message" id="error-message-plea" data-ng-show="vm.form['plea'].invalid">Choose an answer</span>
        </legend>

        <label class="block-label" for="plea-guilty" data-ng-class="{'selected': vm.plea === 'Guilty'}">
          <input type="radio" id="plea-guilty" name="plea" value="Guilty" required aria-required="true" aria-controls="guilty"
                 data-ng-attr-aria-invalid="{{vm.form['plea'].invalid ? 'true' : undefined}}"
                 data-ng-attr-aria-describedby="{{vm.form['plea'].invalid ? 'error-message-plea' : undefined}}"
                 data-ng-attr-aria-expanded="{{vm.plea === 'Guilty' ? 'true' : 'false'}}"
                 data-ng-click="vm.enterYourPleaClicked()"
                 data-ng-model="vm.plea"> Guilty
        </label>

        <label class="block-label" for="plea-notguilty" data-ng-class="{'selected': vm.plea === 'Not guilty'}">
          <input type="radio" id="plea-notguilty" name="plea" value="Not guilty" required aria-required="true" aria-controls="not-guilty"
                 data-ng-attr-aria-invalid="{{vm.form['plea'].invalid ? 'true' : undefined}}"
                 data-ng-attr-aria-expanded="{{vm.plea === 'Not guilty' ? 'true' : 'false'}}"
                 data-ng-click="vm.enterYourPleaClicked()"
                 data-ng-model="vm.plea"> Not guilty
        </label>

      </fieldset>


      <div class="form-group">


        <!-- Guilty -->

        <div class="panel panel-border-narrow" id="guilty"
             data-ng-class="{'js-hidden': vm.plea !== 'Guilty'}"
             data-ng-attr-aria-hidden="{{vm.plea !== 'Guilty' ? 'true' : 'false'}}">

          <p>Pleading guilty to this charge means you don&rsquo;t need to come to court to respond to this charge. If you choose this option, we&rsquo;ll send you details of the court&rsquo;s decision and what to do next.</p>

          <div class="form-group" data-ng-class="{'error': vm.form['court'].invalid}">

            <fieldset>

              <legend id="error-court">
                <span class="form-label-bold">What would you like to do?</span>
                <span class="error-message" id="error-message-court" data-ng-show="vm.form['court'].invalid">Choose an answer</span>
              </legend>

              <label class="block-label" for="court-no" data-ng-class="{'selected': vm.court === 'No'}">
                <input type="radio" id="court-no" name="court" value="No"
                       data-ng-attr-aria-invalid="{{vm.form['court'].invalid ? 'true' : undefined}}"
                       data-ng-attr-aria-describedby="{{vm.form['court'].invalid ? 'error-message-court' : undefined}}"
                       data-ng-attr-aria-required="vm.plea === 'Guilty'"
                       data-ng-required="vm.plea === 'Guilty'"
                       data-ng-model="vm.court"> Plead guilty online (no need to attend court)
              </label>

              <label class="block-label" for="court-yes" data-ng-class="{'selected': vm.court === 'Yes'}">
                <input type="radio" id="court-yes" name="court" value="Yes"
                       data-ng-attr-aria-invalid="{{vm.form['court'].invalid ? 'true' : undefined}}"
                       data-ng-attr-aria-required="vm.plea === 'Guilty'"
                       data-ng-required="vm.plea === 'Guilty'"
                       data-ng-model="vm.court"> Attend court to plead guilty
              </label>

            </fieldset>

          </div>

          <div class="form-group">

            <label for="mitigation">
              <span class="form-label-bold">Mitigation (optional)</span>
              <span class="form-hint" id="mitigation-hint">Include anything you&rsquo;d like the court to consider when making a decision about your guilty plea.</span>
            </label>

            <textarea class="form-control form-control-textarea" id="mitigation" name="mitigation" cols="30" rows="3" aria-describedby="mitigation-hint"
                      data-ng-model="vm.mitigation"></textarea>

          </div>

        </div>
        

        <!-- Not guilty -->

        <div class="panel panel-border-narrow" id="not-guilty"
             data-ng-class="{'js-hidden': vm.plea !== 'Not guilty'}"
             data-ng-attr-aria-hidden="{{vm.plea !== 'Not guilty' ? 'true' : 'false'}}">

          <div class="form-group" data-ng-class="{'error': vm.form['not-guilty-because'].invalid}">
            
            <label for="not-guilty-because" id="error-not-guilty-because">
              <span class="form-label-bold">Why do you think you&rsquo;re not guilty?</span>
              <span class="error-message" id="error-message-not-guilty-because" data-ng-show="vm.form['not-guilty-because'].invalid">Provide information</span>
            </label>
            
            <textarea class="form-control form-control-textarea" id="not-guilty-because" name="not-guilty-because" cols="30" rows="3"
                      data-ng-attr-aria-invalid="{{vm.form['not-guilty-because'].invalid ? 'true' : undefined}}"
                      data-ng-attr-aria-describedby="{{vm.form['not-guilty-because'].invalid ? 'error-message-not-guilty-because' : undefined}}"
                      data-ng-attr-aria-required="vm.plea === 'Not guilty'"
                      data-ng-required="vm.plea === 'Not guilty'"
                      data-ng-model="vm.notGuiltyBecause"></textarea>
            
          </div>

          <div class="form-group">
          
            <fieldset class="inline" data-ng-class="{'error': vm.form['interpreter'].invalid}">
  
              <legend id="error-interpreter">
                <span class="form-label-bold">Do you need an interpreter in court?</span>
                <span class="error-message" id="error-message-interpreter" data-ng-show="vm.form['interpreter'].invalid">Choose an answer</span>
              </legend>
  
              <label class="block-label" for="interpreter-yes" data-ng-class="{'selected': vm.interpreter === 'Yes'}">
                <input type="radio" id="interpreter-yes" name="interpreter" value="Yes" aria-controls="interpreter"
                       data-ng-attr-aria-invalid="{{vm.form['interpreter'].invalid ? 'true' : undefined}}"
                       data-ng-attr-aria-describedby="{{vm.form['interpreter'].invalid ? 'error-message-interpreter' : undefined}}"
                       data-ng-attr-aria-expanded="{{vm.interpreter === 'Yes' ? 'true' : 'false'}}"
                       data-ng-attr-aria-required="vm.plea === 'Not guilty'"
                       data-ng-required="vm.plea === 'Not guilty'"
                       data-ng-model="vm.interpreter"> Yes
              </label>
  
              <label class="block-label" for="interpreter-no" data-ng-class="{'selected': vm.interpreter === 'No'}">
                <input type="radio" id="interpreter-no" name="interpreter" value="No"
                       data-ng-attr-aria-invalid="{{vm.form['interpreter'].invalid ? 'true' : undefined}}"
                       data-ng-attr-aria-required="vm.plea === 'Not guilty'"
                       data-ng-required="vm.plea === 'Not guilty'"
                       data-ng-model="vm.interpreter"> No
              </label>
  
            </fieldset>
  
            <div class="panel panel-border-narrow" id="interpreter"
                 data-ng-class="{'js-hidden': vm.interpreter !== 'Yes'}"
                 data-ng-attr-aria-hidden="{{vm.interpreter !== 'Yes' ? 'true' : 'false'}}">
              
              <div class="form-group" data-ng-class="{'error': vm.form['interpreter-language'].invalid}">
                
                <label for="interpreter-language" id="error-interpreter-language">
                  <span class="form-label">Which language? (Including sign language)</span>
                  <span class="error-message" id="error-message-interpreter-language" data-ng-show="vm.form['interpreter-language'].invalid">Provide this information</span>
                </label>
                
                <input class="form-control" type="text" id="interpreter-language" name="interpreter-language"
                       data-ng-attr-aria-invalid="{{vm.form['interpreter-language'].invalid ? 'true' : undefined}}"
                       data-ng-attr-aria-describedby="{{vm.form['interpreter-language'].invalid ? 'error-message-interpreter-language' : undefined}}"
                       data-ng-attr-aria-required="vm.plea === vm.pleas.NOT_GUILTY && vm.interpreter === 'Yes'"
                       data-ng-required="vm.plea === vm.pleas.NOT_GUILTY && vm.interpreter === 'Yes'"
                       data-ng-model="vm.interpreterLanguage">
                
              </div>
              
            </div>
          
          </div>

          <div class="form-group">

            <fieldset class="inline" data-ng-class="{'error': vm.form['evidence'].invalid}">

              <legend id="error-evidence">
                <span class="form-label-bold">Do you disagree with evidence in a witness statement sent to you?</span>
                <span class="error-message" id="error-message-evidence" data-ng-show="vm.form['evidence'].invalid">Choose an answer</span>
              </legend>
              
              <label class="block-label" for="evidence-yes" data-ng-class="{'selected': vm.prosecutorWitnessDisagree === 'Yes'}">
                <input type="radio" id="evidence-yes" name="evidence" value="Yes" aria-controls="evidence"
                       data-ng-attr-aria-invalid="{{vm.form['evidence'].invalid ? 'true' : undefined}}"
                       data-ng-attr-aria-describedby="{{vm.form['evidence'].invalid ? 'error-message-evidence' : undefined}}"
                       data-ng-attr-aria-expanded="{{vm.prosecutorWitnessDisagree === 'Yes' ? 'true' : 'false'}}"
                       data-ng-attr-aria-required="vm.plea === 'Not guilty'"
                       data-ng-required="vm.plea === 'Not guilty'"
                       data-ng-model="vm.prosecutorWitnessDisagree"> Yes
              </label>

              <label class="block-label" for="evidence-no" data-ng-class="{'selected': vm.prosecutorWitnessDisagree === 'No'}">
                <input type="radio" id="evidence-no" name="evidence" value="No"
                       data-ng-attr-aria-invalid="{{vm.form['evidence'].invalid ? 'true' : undefined}}"
                       data-ng-attr-aria-required="vm.plea === 'Not guilty'"
                       data-ng-required="vm.plea === 'Not guilty'"
                       data-ng-model="vm.prosecutorWitnessDisagree"> No
              </label>

            </fieldset>
            
            <div class="panel panel-border-narrow" id="evidence"
                 data-ng-class="{'js-hidden': vm.prosecutorWitnessDisagree !== 'Yes'}"
                 data-ng-attr-aria-hidden="{{vm.prosecutorWitnessDisagree !== 'Yes' ? 'true' : 'false'}}">

              <div class="form-group" data-ng-class="{'error': vm.form['witness-name'].invalid}">
                
                <label for="witness-name" id="error-witness-name">
                  <span class="form-label">Enter the name of the witness and what you disagree with</span>
                  <span class="error-message" id="error-message-witness-name" data-ng-show="vm.form['witness-name'].invalid">Provide this information</span>
                </label>
                
                <textarea class="form-control form-control-textarea" id="witness-name" name="witness-name" cols="30" rows="3"
                          data-ng-attr-aria-invalid="{{vm.form['witness-name'].invalid ? 'true' : undefined}}"
                          data-ng-attr-aria-describedby="{{vm.form['witness-name'].invalid ? 'error-message-witness-name' : undefined}}"
                          data-ng-attr-aria-required="vm.plea === vm.pleas.NOT_GUILTY && vm.prosecutorWitnessDisagree === 'Yes'"
                          data-ng-required="vm.plea === vm.pleas.NOT_GUILTY && vm.prosecutorWitnessDisagree === 'Yes'"
                          data-ng-model="vm.prosecutorWitnessDetails"></textarea>
                
              </div>

            </div>

          </div>
          
          <div class="form-group">
            
            <fieldset class="inline" data-ng-class="{'error': vm.form['witness'].invalid}">

              <legend id="error-witness">
                <span class="form-label-bold">Do you want to call a witness?</span>
                <span class="form-hint" id="witness-hint">Someone who can give evidence in court supporting your case</span>
                <span class="error-message" id="error-message-witness" data-ng-show="vm.form['witness'].invalid">Choose an answer</span>
              </legend>
              
              <label class="block-label" for="witness-yes" data-ng-class="{'selected': vm.defenceWitnessCall === 'Yes'}">
                <input type="radio" id="witness-yes" name="witness" value="Yes" aria-controls="witness"
                       data-ng-attr-aria-invalid="{{vm.form['witness'].invalid ? 'true' : undefined}}"
                       data-ng-attr-aria-describedby="{{vm.form['witness'].invalid ? 'error-message-witness' : 'witness-hint'}}"
                       data-ng-attr-aria-expanded="{{vm.defenceWitnessCall === 'Yes' ? 'true' : 'false'}}"
                       data-ng-attr-aria-required="vm.plea === 'Not guilty'"
                       data-ng-required="vm.plea === 'Not guilty'"
                       data-ng-model="vm.defenceWitnessCall"> Yes
              </label>
              
              <label class="block-label" for="witness-no" data-ng-class="{'selected': vm.defenceWitnessCall === 'No'}">
                <input type="radio" id="witness-no" name="witness" value="No"
                       data-ng-attr-aria-invalid="{{vm.form['witness'].invalid ? 'true' : undefined}}"
                       data-ng-attr-aria-required="vm.plea === 'Not guilty'"
                       data-ng-required="vm.plea === 'Not guilty'"
                       data-ng-model="vm.defenceWitnessCall"> No
              </label>
              
            </fieldset>
            
            <div class="panel panel-border-narrow" id="witness"
                 data-ng-class="{'js-hidden': vm.defenceWitnessCall !== 'Yes'}"
                 data-ng-attr-aria-hidden="{{vm.defenceWitnessCall !== 'Yes' ? 'true' : 'false'}}">
              
              <div class="form-group" data-ng-class="{'error': vm.form['witness-contact-details'].invalid}">
                
                <label for="witness-contact-details" id="error-witness-contact-details">
                  <span class="form-label">Enter name, address and date of birth of any witnesses you want to call to support your case</span>
                  <span class="error-message" id="error-message-witness-contact-details" data-ng-show="vm.form['witness-contact-details'].invalid">Provide this information</span>
                </label>
                
                <textarea class="form-control form-control-textarea" id="witness-contact-details" name="witness-contact-details" cols="30" rows="3"
                          data-ng-attr-aria-invalid="{{vm.form['witness-contact-details'].invalid ? 'true' : undefined}}"
                          data-ng-attr-aria-describedby="{{vm.form['witness-contact-details'].invalid ? 'error-message-witness-contact-details' : undefined}}"
                          data-ng-attr-aria-required="vm.plea === vm.pleas.NOT_GUILTY && vm.defenceWitnessCall === 'Yes'"
                          data-ng-required="vm.plea === vm.pleas.NOT_GUILTY && vm.defenceWitnessCall === 'Yes'"
                          data-ng-model="vm.defenceWitnessContactDetails"></textarea>
                
              </div>
              
              <div class="form-group">

                <fieldset class="inline" data-ng-class="{'error': vm.form['witness-interpreter'].invalid}">

                  <legend id="error-witness-interpreter">
                    <span class="form-label-bold">Does your witness need an interpreter?</span>
                    <span class="error-message" id="error-message-witness-interpreter" data-ng-show="vm.form['witness-interpreter'].invalid">Choose an answer</span>
                  </legend>

                  <label class="block-label" for="witness-interpreter-yes" data-ng-class="{'selected': vm.defenceWitnessInterpreter === 'Yes'}">
                    <input type="radio" id="witness-interpreter-yes" name="witness-interpreter" value="Yes" aria-controls="witness-interpreter"
                           data-ng-attr-aria-invalid="{{vm.form['witness-interpreter'].invalid ? 'true' : undefined}}"
                           data-ng-attr-aria-describedby="{{vm.form['witness-interpreter'].invalid ? 'error-message-witness-interpreter' : undefined}}"
                           data-ng-attr-aria-expanded="{{vm.defenceWitnessInterpreter === 'Yes' ? 'true' : 'false'}}"
                           data-ng-attr-aria-required="vm.plea === vm.pleas.NOT_GUILTY && vm.defenceWitnessCall === 'Yes'"
                           data-ng-required="vm.plea === vm.pleas.NOT_GUILTY && vm.defenceWitnessCall === 'Yes'"
                           data-ng-model="vm.defenceWitnessInterpreter"> Yes
                  </label>

                  <label class="block-label" for="witness-interpreter-no" data-ng-class="{'selected': vm.defenceWitnessInterpreter === 'No'}">
                    <input type="radio" id="witness-interpreter-no" name="witness-interpreter" value="No"
                           data-ng-attr-aria-invalid="{{vm.form['witness-interpreter'].invalid ? 'true' : undefined}}"
                           data-ng-attr-aria-required="vm.plea === vm.pleas.NOT_GUILTY && vm.defenceWitnessCall === 'Yes'"
                           data-ng-required="vm.plea === vm.pleas.NOT_GUILTY && vm.defenceWitnessCall === 'Yes'"
                           data-ng-model="vm.defenceWitnessInterpreter"> No
                  </label>

                </fieldset>
                
                <div class="panel panel-border-narrow" id="witness-interpreter"
                     data-ng-class="{'js-hidden': vm.defenceWitnessInterpreter !== 'Yes'}"
                     data-ng-attr-aria-hidden="{{vm.defenceWitnessInterpreter !== 'Yes' ? 'true' : 'false'}}">

                  <div class="form-group" data-ng-class="{'error': vm.form['witness-interpreter-language'].invalid}">
                    
                    <label for="witness-interpreter-language" id="error-witness-interpreter-language">
                      <span class="form-label">Which language? (Including sign language)</span>
                      <span class="error-message" id="error-message-witness-interpreter-language" data-ng-show="vm.form['witness-interpreter-language'].invalid">Provide this information</span>
                    </label>
                    
                    <input class="form-control" type="text" id="witness-interpreter-language" name="witness-interpreter-language"
                           data-ng-attr-aria-invalid="{{vm.form['witness-interpreter-language'].invalid ? 'true' : undefined}}"
                           data-ng-attr-aria-describedby="{{vm.form['witness-interpreter-language'].invalid ? 'error-message-witness-interpreter-language' : undefined}}"
                           data-ng-attr-aria-required="vm.plea === vm.pleas.NOT_GUILTY && vm.defenceWitnessCall === 'Yes' && vm.defenceWitnessInterpreter === 'Yes'"
                           data-ng-required="vm.plea === vm.pleas.NOT_GUILTY && vm.defenceWitnessCall === 'Yes' && vm.defenceWitnessInterpreter === 'Yes'"
                           data-ng-model="vm.defenceWitnessInterpreterLanguage">
                    
                  </div>

                </div>
                
              </div>
    
            </div>
            
          </div>
          
        </div>
        

      </div>


      <div class="form-group">
        
        <button class="button" type="submit" 
          data-ng-click="vm.buttonContinue($event)" 
          data-focus-event="click" 
          data-focus-target="error-summary"
          data-focus>Continue
        </button>
        
      </div>


      <p data-ng-if="vm.nextState"><a href="" data-ui-sref="{{vm.nextState}}">Cancel</a></p>


    </form>


  </div>


</div>