<a class="link-back" href="" data-ng-click="backLink()">Back</a>


<div class="grid-row">


  <div class="column-two-thirds">


    <h1 class="heading-xlarge">Your case</h1>


    <div class="error-summary"
         id="error-summary"
         role="group"
         tabindex="-1"
         aria-labelledby="error-summary-heading"
         data-focus
         data-focus-event="click"
         data-ng-show="yourCase.form.$submitted && yourCase.form.$myinvalid">

      <h2 class="heading-medium error-summary-heading" id="error-summary-heading">Fix the following errors</h2>

      <ul class="error-summary-list">
        <li data-ng-show="yourCase.form['case-unique-reference-number'].$myinvalid">
          <a href=""
             data-ng-click="enterCaseUniqueReferenceNumberLinkClicked()"
             data-focus
             data-focus-event="click"
             data-focus-target="error-case-unique-reference-number"
             data-scroll-to="error-case-unique-reference-number">Case or Unique Reference Number
          </a>
        </li>
        <li data-ng-show="yourCase.form['case-postcode'].$myinvalid">
          <a href="" 
             data-ng-click="enterCasePostcodeLinkClicked()"
             data-focus
             data-focus-event="click"
             data-focus-target="error-case-postcode"
             data-scroll-to="error-case-postcode">Your postcode
          </a>
        </li>
      </ul>

    </div>


    <form class="form" method="post" name="yourCase.form" action="" autocomplete="off" novalidate data-form-selection data-form-toggle>


      <div class="form-group" data-ng-class="{'error': yourCase.caseUniqueReferenceNumberAriaInvalid}">

        <label for="case-unique-reference-number" id="error-case-unique-reference-number">
          <span class="form-label-bold">Case or Unique Reference Number</span>
          <span class="form-hint" id="case-unique-reference-number-hint">Find this on your notice</span>
          <span class="error-message" id="error-message-case-unique-reference-number" data-ng-show="yourCase.caseUniqueReferenceNumberAriaInvalid">Provide this information</span>
        </label>

        <input class="form-control" type="text" id="case-unique-reference-number" name="case-unique-reference-number" aria-describedby="{{yourCase.caseUniqueReferenceNumberAriaDescribedBy}}" aria-invalid="{{yourCase.caseUniqueReferenceNumberAriaInvalid}}" value="{{yourCase.caseUniqueReferenceNumber}}" required data-ng-model="yourCase.caseUniqueReferenceNumber">

      </div>


      <div class="form-group" data-ng-class="{'error': yourCase.casePostcodeAriaInvalid}">

        <label class="form-label-bold" for="case-postcode" id="error-case-postcode">
          Your postcode
          <span class="error-message" id="error-message-case-postcode" data-ng-show="yourCase.casePostcodeAriaInvalid">Provide this information</span>
        </label>

        <input class="form-control form-control-1-4" type="text" id="case-postcode" name="case-postcode" aria-invalid="{{yourCase.casePostcodeAriaInvalid}}" value="{{yourCase.casePostcode}}" required data-ng-model="yourCase.casePostcode">

      </div>


      <div class="form-group">
        <button class="button" type="submit" 
          data-ng-click="yourCase.continueButtonClicked($event)" 
          data-focus
          data-focus-event="click" 
          data-focus-target="error-summary">{{yourCase.buttonContinueLabel}}
        </button>
      </div>


      <p data-ng-show="yourCase.nextState"><a href="" data-ui-sref="{{yourCase.getNextState()}}">Cancel</a></p>


    </form>


  </div>


</div>
